<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <a class="topLogo"><img src="/Images/logo.png" class="img-responsive"></a>
            </div>
            <div class="col-sm-9 col-md-9">
                <div id="cssmenu">
                    <ul>
                        <li>
                            <a [routerLink]="['/campusHomePage']"> Home</a>
                        </li>
                        <li>
                            <a class="withoutReference">Projects</a>
                            <ul>
                                <li><a [routerLink]="['/project-create']">Create New Project</a></li>
                                <li><a [routerLink]="['/allProject']">Existing Projects</a></li>
                                <li><a [routerLink]="['/published-reports']">Published Reports</a></li>
                            </ul>
                        </li>
                        <li>
                            <a [routerLink]="['/faq']">Support</a>
                            <ul>
                                <li>
                                    <a *ngIf="role.indexOf('Admin') == -1 " [routerLink]="['/errorList']">Error list</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a *ngIf="role.indexOf('Admin') >= 0 " [routerLink]="['/setting']">Settings</a>
                            <ul>
                                <li><a [routerLink]="['/edit-baseline-variables']">Edit Baseline Variables</a></li>
                                <li><a [routerLink]="['/formulas-calculation']">Formulas Calculation</a></li>
                                <li><a [routerLink]="['/auditTrail']">Audit Trail</a></li>
                                <li><a [routerLink]="['/errorList']">Error list</a></li>
                            </ul>
                        </li>
                        <li class="activeLogin">
                            <a href="#">{{userInfo.Username}}</a>
                            <ul>
                                <li><a [routerLink]="['/campusInformation']">Campus information</a></li>
                                <li><a [routerLink]="['/campusStandards']">Campus Standards</a></li>
                                <li *ngIf="role.indexOf('Admin') >= 0"><a [routerLink]="['/allUser']">Users</a></li>
                                <li><a href="/">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>