.editCampusInfo {
    font-size: 20px;
}

    .editCampusInfo i:hover {
        cursor: pointer;
    }

#dropdownMenuButton > .panel-title {
    text-align: left;
    margin-left: 6px;
    height: 35px;
    margin-top: 15px;
}

/*.panel-group > .dropdown :hover {
    background-color: #fff;
}*/

.panel-group > .dropdown :active {
    background-color: #fff;
}

/*.panel-group > .dropdown :focus {
    background-color: #fff;
}*/