<!-- INNER BANER -->
<section class="innerBanner">
    <h3>Campus Information</h3>
    <div class="overLay"></div>
    <img src="/Images/inr-banner.png" class="img-responsive">
</section>
<!-- INNER BANER -->


<section class="accordInfo sectBg">
    <div class="container">
        <div class="row">
            <div *ngIf="isAdmin" class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div *ngIf="!isEdit" class="pull-right barBoder editCampusInfo">
                    <i class="fa fa-pencil text-primary" (click)="edit()"></i>
                </div>
            </div>
            <div *ngIf="!isEdit" class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle">
                                    Need Institution Name
                                </a>
                            </h4>
                        </div>
                        <hr />
                        <div id="collapseOne">
                            <div class="panel-body">
                                <p *ngIf="campusInfo">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="dropdown panel panel-default btn-block">
                        <div class="panel-heading">
                            <button id="dropdownMenuButton" class="btn btn-block btn-default dropdown-toggle" data-toggle="collapse" href="#collapseTwo">
                                <h4 class="panel-title">
                                    
                                    Need Institution Types
                                    <span class="caret"></span>
                                </h4>
                                
                            </button>
                        </div>
                        <ul id="collapseTwo" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a href="#">
                                    Public University
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Private Universitys
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Liberal Arts College
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Community College
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle">
                                    Need location at ci
                                </a>
                            </h4>
                        </div>
                        <hr />
                        <div id="collapsethree">
                            <div class="panel-body">
                                <p *ngIf="campusInfo">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle">
                                    Need first name last name campus architect
                                </a>
                            </h4>
                        </div>
                        <hr />
                        <div id="collapsefour">
                            <div class="panel-body">
                                <p *ngIf="campusInfo">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle">
                                    Need first name last name, director of campus projects
                                </a>
                            </h4>
                        </div>
                        <div id="collapsefive">
                            <div class="panel-body">
                                <p *ngIf="campusInfo">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div *ngIf="isEdit" class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <button type="submit" (click)="return()" class="btn  col-md-2 btn-primary pull-left btn-sm"><span><i class="fa fa-arrow-left"></i>Back</span></button>
                </div>
                <div class="projForm">
                    <form name="UserForm" class="form-horizontal container-fluid">
                        <div class="col-md-4 col-md-offset-4 userInputs">
                            <label>InstitutionName</label>
                            <input name="InstitutionName" class="form-control input" placeholder="Please entry InstitutionName" type="text" required [(ngModel)]="campusInfo.InstitutionName" autofocus />
                        </div>
                        <div class="col-md-4 col-md-offset-4 userInputs">
                            <label>InstitutionType</label>
                            <input name="InstitutionType" class="form-control input" placeholder="Please entry InstitutionType" type="text" required [(ngModel)]="campusInfo.InstitutionType" autofocus />
                        </div>
                        <div class="col-md-4 col-md-offset-4 userInputs">
                            <label>Location</label>
                            <input name="Location" class="form-control input" placeholder="Please entry Location" type="text" required [(ngModel)]="campusInfo.Location" autofocus />
                        </div>
                        <div class="col-md-4 col-md-offset-4 userInputs">
                            <label>CampusArchitect</label>
                            <input name="CampusArchitect" class="form-control input" placeholder="Please entry CampusArchitect" type="text" required [(ngModel)]="campusInfo.ArchitechName" autofocus />
                        </div>
                        <div class="col-md-4 col-md-offset-4 userInputs">
                            <label>DirectorCampusProject</label>
                            <input name="DirectorCampusProject" class="form-control input" placeholder="Please entry DirectorCampusProject" type="text" required [(ngModel)]="campusInfo.CampusProject" autofocus />
                        </div>
                        <div class="col-md-4 col-md-offset-4 userInputs" style="margin-top:15px">
                            <button type="submit" (click)="editCampus()" class="btn btn-primary btn-block btn-sm"><span>Update</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>