﻿<!-- INNER BANER -->
<section class="innerBanner">
	<h3>Existing Projects</h3>
    <div class="overLay"></div>
	<img src="/Images/inr-banner.png" class="img-responsive">
</section>
<!-- INNER BANER -->

<section class="projetEx sectBg">  
    <div class="container">
        <div class="row"> 
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

                <div class="col-md-12" id="agGrid">
                    <ag-grid-angular #agGrid class="ag-bootstrap table" style="width: 100%; height: 500px; border: 1px solid lightgray;"
                                     [gridOptions]="gridOptions"
                                     [columnDefs]="columDef">
                    </ag-grid-angular>
                </div>

                <h3 [hidden]="!hideProjectTable" class="text-center">No projects found </h3>
            </div>
        </div>
    </div>
</section>
