﻿<div class="col-md-12" [hidden]="showProjectForm">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form name="ProjectForm" class="form-horizontal container-fluid" (ngSubmit)="saveProjectFrom()">
            <div class="col-md-10 col-md-offset-1 userInputs">
                <label>Project Name</label>
                <input name="ProjectName" class="form-control input-lg" placeholder="Please entry name"   type="text" required [(ngModel)]="project.name" autofocus />
                <div [hidden]="showProjectNameError" class="alert alert-danger">
                    <div>
                        Name is required
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-1 userInputs">
                <label>Institution</label>
                <input name="ProjectName" class="form-control input-lg" placeholder="Please entry Institution" type="text" required [(ngModel)]="project.institution" autofocus />                
            </div>          
            <div class="col-md-6 col-md-offset-3" style="margin-top:10px;">
                <button type="submit"  class="btn btn-succes btn-block btn-lg">Save</button>
            </div>
        </form>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-2"  [hidden]="showComplexPage">
        <button (click)="saveProject()" style="margin:10px;" class="btn btn-primary btn-block btn-bg">Save Project</button>
    </div>
</div>

<complex-page [hidden]="showComplexPage" [projectName]="project.name" (resultViewEmit)="resultViewEmit($event)"></complex-page>
