﻿<div class="col-md-12">
    <button [hidden]="isProjectHidden" (click)="updateProject()" class="btn btn-primary">Update</button>
    <button [hidden]="isProjectHidden" (click)="openModalWithComponent()" class="btn btn-primary">Save As</button>
    <button [hidden]="isProjectHidden" (click)="getPDF()" class="btn btn-primary">Download pdf</button>
</div>
<div class="col-md-12" style="margin:10px;">
    <div class="col-md-6">
        <label>Institution</label>
        <input name="ProjectInstitution" class="form-control input-lg" placeholder="Please entry Institution" type="text" required [(ngModel)]="project.institution" autofocus />
    </div>
    <div class="col-md-6">
        <label> Cost Model</label>
        <input name="ProjectCostModel" class="form-control input-lg" placeholder="Please entry Cost Model" type="text" required [(ngModel)]="costModel" autofocus />
    </div>
</div>

<complex-page [hidden]="isProjectHidden" [projectName]="projectName" [IsUserProject]="model.isUserProject" [currentModel]="model.projectValue" (resultViewEmit)="resultViewEmit($event)"></complex-page>