

<!-- INNER BANER -->
<section class="innerBanner">
        <h3>Published Reports</h3>
        <div class="overLay"></div>
        <img src="/Images/inr-banner.png" class="img-responsive">
    </section>
    <!-- INNER BANER -->
    
    
    <section class="pubReport sectBg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    
                <table *ngIf="listFileInfo" class="table pReport">
                    <tr>
                        <td width="90%">File Name</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr *ngFor="let item of listFileInfo;let i = index">
                        <td (click)="fileInfoDetail(item.Id)"><span *ngIf="item.Label">{{item.Label}}</span><span *ngIf="!item.Label">{{item.Project.Name+'-'+item.Project.Date}}</span></td>
                        <td><a (click)="editProject(item.Project.Id)" data-toggle="tooltip" title="Edit project"><img src="/Images/edit.png"/></a></td>
                        <td><button (click)="deleteFileInfo(item.Id,i)" data-toggle="tooltip" title="Delete Project"><img src="/Images/delete.png"></button></td>
                    </tr>                    
                </table>
                <p>View all published reports</p>
                </div>
            </div>
        </div>
    </section>