
<!-- INNER BANER -->
<section class="innerBanner">
        <h3>Published Report</h3>
        <div class="overLay"></div>
        <img src="/Images/inr-banner.png" class="img-responsive">
    </section>
    <!-- INNER BANER -->
    
    
    <section class="prDetail sectBg">
        <div class="container">
            <div class="row">            
                <div class="col-xs-12 col-sm-4">
                    <p (click)="returnToList()"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Return to Published Reports list</p>
                </div>
                
                <div class="col-xs-12 col-sm-8">
                    <div class="printDownload">
                        <button (click)="returnToEntryPage()" class="linkBtn"><i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp; Back to Input Page</button>
                        <button  *ngIf="isSaveShow" (click)="saveFile()"  class="linkBtn"><img src="/Images/printer-icon.png">Save pdf</button>
                        <button (click)="printFile()"  class="linkBtn"><img src="/Images/printer-icon.png">Print</button>
                        <button (click)="downloadFile()" class="linkBtn"><img src="/Images/printer-icon.png">Download pdf</button>
                    </div>
                </div>
                
                <div class="col-xs-12">
                    <div class="viewPdf">      
                            <pdf-viewer [src]="pdfSrc" 
                            [render-text]="true"
                            [original-size]="false"
                            style="display: block;"
                            ></pdf-viewer>                                
                    </div>
                </div>
              
            </div>
        </div>
    </section>