﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="~/Images/favicon.ico" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
</head>
<body>
    @if (ViewContext.RouteData.Values["Action"].ToString() == "Login")
    {
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                        <a class="topLogo"><img src="~/Images/logo.png" class="img-responsive"></a>
                    </div>
                    <div class="col-sm-9 col-md-9">
                        <div class="topSignin">
                            <button type="button" class="signIn" data-toggle="collapse" data-target="#signIn">Sign in</button>
                            <div id="signIn" class="collapse signContr">
                                @Html.Partial("_LoginPartial")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    }
    else
    {
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                        <a class="topLogo"><img src="~/Images/logo.png" class="img-responsive"></a>
                    </div>
                    <div class="col-sm-9 col-md-9">
                        <div id="cssmenu">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Software Solutions</a></li>
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#signIn">Sign in</a>
                                    <div id="signIn" class="collapse signContr">
                                        @Html.Partial("_LoginPartial")
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    }
    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-5">
                    <div class="footLogo">
                        <a href="#"><img src="~/Images/footer-logo.png"></a>
                    </div>
                    <address>
                        <p>Copyright © 2016-@DateTime.Now.Year</p>
                    </address>
                </div>
                <div class="col-xs-12 col-md-4">
                </div>
                <div class="col-xs-12 col-md-3">
                    <ul class="futSocal">
                        <li>Social Links</li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jsfiles")

    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "fade",
            });
        });
    </script>
</body>
</html>
