﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Protea Intelligence</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Polyfill(s) for older browsers -->
    @Styles.Render("~/Content/css")
    <base href="/Account/Calculation">
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jsfiles")
    <my-app>Loading AppComponent content here ...</my-app>


    <script type="text/javascript" src="/dist/inline.bundle.js"></script>
    <script type="text/javascript" src="/dist/polyfills.bundle.js"></script>
    <script type="text/javascript" src="/dist/vendor.bundle.js"></script>

    @*USE WITH build_prod command in packaje.json !!!
        <script type="text/javascript" src="/dist/vendor.bundle.min.js"></script>*@

    <script type="text/javascript" src="/dist/main.bundle.js"></script>

</body>
</html>
