﻿@{
    ViewBag.Title = "Log in";
}

<section class="innerBanner">
    @if (Html.ValidationSummary(true) != null)
    {
        <h3>@Html.ValidationSummary(false)</h3>
    }
    else
    {
        <h3>Protea Intelligence</h3>
    }
    <div class="overLay"></div>
    <img src="~/Images/inr-banner.png" class="img-responsive">
</section>

