﻿<!DOCTYPE html>
<html>
<head>
    <title>Protea Intelligence</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../styles.css">
    <!-- Polyfill(s) for older browsers -->

    <base href="/Account/ProjectCalculation/">
</head>
<body>
    <complex-page>Loading ProjectComponent content here ...</complex-page>
   
</body>
</html>