<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <div class="footLogo">
                    <a class="withoutReference"><img src="/Images/footer-logo.png"></a>
                </div>
                <address>
                    <p>Copyright © 2016-{{currentDate}}</p>
                </address>
            </div>
            <div class="col-xs-12 col-md-4">
            </div>
            <div class="col-xs-12 col-md-3">
                <ul class="futSocal">
                    <li>Social Links</li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>