﻿<div class="container">
    <div class="col-md-12 text-right mb-10">
        <button class="btn btn-sm btn-primary" (click)="goBack()">Back</button>
    </div>
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Property Name</th>
                    <th class="text-center">Action</th>
                    <th class="text-center">Entity Type</th>
                    <th class="text-center">Old Value</th>
                    <th class="text-center">New Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let auditTrailValue of auditTrailValues; let i = index;">
                    <td>{{auditTrailValue.PropertyName}}</td>
                    <td>{{auditTrailValue.Action}}</td>
                    <td>{{auditTrailValue.EntityType}}</td>
                    <td>{{auditTrailValue.OldValue}}</td>
                    <td>{{auditTrailValue.NewValue}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
