﻿<div class="container">
    <div class="">
        <div class="col-md-1">
            <button class="btn btn-sm" (click)="onPageByNumber(pageNumber-1)">Go to page</button>
        </div>
        <div class="col-md-1">
            <input name="goToPage" class="form-control btn-go-to" type="number" placeholder="5" min="1" [(ngModel)]="pageNumber"/>
        </div>
    </div>
    <div class="col-md-12" id="agGrid">
        <ag-grid-angular #agGrid class="ag-bootstrap table" style="width: 100%; height: 500px; border: 1px solid lightgray;"
                         [gridOptions]="gridOptions"
                         [columnDefs]="columDef">
        </ag-grid-angular>
    </div>
</div>

