﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="homSlider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="overLay"></div>
                <img src="images/slider.png" />
                <div class="slidCont">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Capital Project Planning Solutions</p>
                                <h3>Protea Intelligence</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="overLay"></div>
                <img src="images/slider.png" />
                <div class="slidCont">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Capital Project Planning Solutions</p>
                                <h3>Protea Intelligence</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

