<simple-notifications [options]="options"></simple-notifications>

<section class="innerBanner">
    <h3 *ngIf="title !== ''"><pre>{{title}} {{label}}</pre></h3>
    <h3 *ngIf="title === ''"><pre>{{label}}</pre></h3>
    <div class="overLay"></div>
    <img src="/Images/stripe-inr-banner.png" class="img-responsive" />
</section>

<form #projectForm="ngForm" name="depositForm" class="form-horizontal container-fluid text-center">
    <section class="creatProjt sectBg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="barBoder">
                        <h3 class="titl">Building Construction</h3>

                        <div class="bilConst">
                            <label>GFA:</label>
                            <input type="number" name="Gross Square Feet" [(ngModel)]="model.GrossSquareFeet" readonly>
                        </div>

                        <div class="clearfix"></div>

                        <div class="barFild">
                            <h3>A SUBSTRUCTURE</h3>
                            <div class="progress-bar" style="width : 50%">
                                <p class="progress-bar-value">$ {{resultView.A_Substructure | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.A_Substructure * model.GrossSquareFeet | number : '1.0'}}</p>
                            </div>
                        </div>

                        <div class="barFild">
                            <h3>B SHELL</h3>
                            <div class="progress-bar" style="width : 50%">
                                <p class="progress-bar-value">$ {{resultView.B_Shell | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.B_Shell * model.GrossSquareFeet | number : '1.0'}}</p>
                            </div>
                        </div>

                        <div class="barFild">
                            <h3>C INTERIORS</h3>
                            <div class="progress-bar" style="width : 50%">
                                <p class="progress-bar-value">$ {{resultView.C_Interiors | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.C_Interiors * model.GrossSquareFeet | number : '1.0'}}</p>
                            </div>
                        </div>

                        <div class="barFild">
                            <h3>D SERVICES</h3>
                            <div class="progress-bar" style="width : 50%">
                                <p class="progress-bar-value">$ {{resultView.D_Services | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.D_Services * model.GrossSquareFeet | number : '1.0'}}</p>
                            </div>
                        </div>

                        <div class="barFild" style="margin-top : 4px">
                            <h3>E EQUIPMENT & FURNISHINGS</h3>
                            <div class="progress-bar" style="width : 50%">
                                <p class="progress-bar-value">$ {{resultView.E_EquipmentFurnishings | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.E_EquipmentFurnishings * model.GrossSquareFeet | number : '1.0'}}</p>
                            </div>
                        </div>

                        <div class="barFild" style="margin-top : 4px">
                            <h3>F SPECIAL CONSTRUCTION & DEMOLITION</h3>
                            <div class="progress-bar" style="width : 50%">
                                <p class="progress-bar-value">$ {{resultView.F_ConstructionDemolition | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.F_ConstructionDemolition * model.GrossSquareFeet | number : '1.0'}}</p>
                            </div>
                        </div>

                        <div class="barFild" style="margin-top : 4px">
                            <h3>SUBTOTAL DIRECT COST</h3>
                            <div class="progress-bar" style="width : 75%">
                                <p class="progress-bar-value">$ {{resultView.SubtotalDirectCost_building | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.SubtotalDirectCost_building * model.GrossSquareFeet | number : '1.0'}}</p>
                            </div>
                        </div>

                        <div class="barFild" style="margin-top : 4px" *ngIf="!isDisplayFixedTotals">
                            <h3>CONTRACTOR MARKUPS</h3>
                            <div class="progress-bar" style="width : 50%">
                                <p class="progress-bar-value">$ {{resultView.ContractorMarkups_building | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.ContractorMarkups_building * model.GrossSquareFeet | number : '1.0'}}</p>
                            </div>
                        </div>

                        <div class="barFild" style="margin-top : 4px" *ngIf="!isDisplayFixedTotals">
                            <h3>CONTINGENCIES</h3>
                            <div class="progress-bar" style="width : 50%">
                                <p class="progress-bar-value">$ {{resultView.Contingencies_building | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.Contingencies_building * model.GrossSquareFeet | number : '1.0'}}</p>
                            </div>
                        </div>

                        <div class="barFild" *ngIf="!isDisplayFixedTotals">
                            <h3>Total Building Construction Cost</h3>
                            <div class="progress-bar" style="width : 75%">
                                <p class="progress-bar-value">$ {{resultView.TotalBuildingConstruction | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.TotalBuildingConstruction * model.GrossSquareFeet | number : '1.0'}}</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-md-6">
                    <div class="barBoder">
                        <h3 class="titl">Site Construction</h3>
                        <div class="bilConst">
                            <label>GSA:</label>
                            <input type="number" [(ngModel)]="model.GrossSiteArea" name="Gross Site Area" readonly>
                        </div>

                        <div class="clearfix"></div>

                        <div class="barFild">
                            <h3>Site Development</h3>
                            <div class="progress-bar" style="width : 50%">
                                <p class="progress-bar-value">$ {{resultView.SiteDevelopment_site | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.SiteDevelopment_site * model.GrossSiteArea | number : '1.0'}}</p>
                            </div>
                        </div>

                        <div class="barFild">
                            <h3>Site utilities</h3>
                            <div class="progress-bar" style="width : 50%">
                                <p class="progress-bar-value">$ {{resultView.SiteUtilities_site | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.SiteUtilities_site * model.GrossSiteArea | number : '1.0'}}</p>
                            </div>
                        </div>

                        <div class="barFild">
                            <h3>Subtotal Direct Cost</h3>
                            <div class="progress-bar" style="width : 75%">
                                <p class="progress-bar-value">$ {{resultView.SubtotalDirectCost_site | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.SubtotalDirectCost_site * model.GrossSiteArea | number : '1.0'}}</p>
                            </div>
                        </div>

                        <div class="barFild">
                            <h3>Contractor Markups</h3>
                            <div class="progress-bar" style="width : 50%">
                                <p class="progress-bar-value">$ {{resultView.ContractorMarkups_site | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.ContractorMarkups_site * model.GrossSiteArea | number : '1.0'}}</p>
                            </div>
                        </div>

                        <div class="barFild">
                            <h3>Contingencies</h3>
                            <div class="progress-bar" style="width : 50%">
                                <p class="progress-bar-value"> $ {{resultView.Contingencies_site | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.Contingencies_site * model.GrossSiteArea | number : '1.0'}}</p>
                            </div>
                        </div>

                        <div class="barFild">
                            <h3>Total Site Construction Cost</h3>
                            <div class="progress-bar" style="width : 75%">
                                <p class="progress-bar-value">$ {{resultView.TotalSiteConstruction_site | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.TotalSiteConstruction_site * model.GrossSiteArea | number : '1.0'}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="barBoder" style="margin-top : -1px">
                        <div class="barFild">
                            <h3>Total Construction Cost</h3>
                            <div class="progress-bar" style="width : 75%">
                                <p class="progress-bar-value"> $ {{resultView.TotalConstructionCosts | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.TotalConstructionCosts * model.GrossSquareFeet | number : '1.0'}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="barBoder" style="margin-top : -1px" *ngIf="!isDisplayFixedTotals">
                        <div class="barFild">
                            <h3>Soft Costs</h3>
                            <h3>Total Soft Costs</h3>
                            <div class="progress-bar" style="width : 75%">
                                <p class="progress-bar-value">$ {{resultView.SoftCosts | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.SoftCosts * model.GrossSquareFeet | number : '1.0'}}</p>
                            </div>
                        </div>

                        <div class="barFild">
                            <h3>Total Project Cost</h3>
                            <div class="progress-bar" style="width : 75%">
                                <p class="progress-bar-value">$ {{resultView.TotalProjectCosts | number : '1.2-2'}} /SF</p>
                            </div>
                            <div class="progress">
                                <p class="progress-value">$ {{resultView.TotalProjectCosts * model.GrossSquareFeet | number : '1.0'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fixed viewer -->
            <div class="row barFixed" *ngIf="isDisplayFixedTotals">
                <div class="barBoderFixed">
                    <div class="col-xs-12 col-md-6">
                        <div class="barBoder" style="margin-bottom : 3px">
                            <h3 class="titl">Building Construction</h3>
                            <div class="bilConst">
                                <label>GFA:</label>
                                <input type="text" name="Gross Square Feet" [(ngModel)]="model.GrossSquareFeet" readonly>
                            </div>

                            <div class="clearfix"></div>

                            <div class="barFild" style="margin-top: 5px">
                                <h3>A SUBSTRUCTURE</h3>
                                <div class="progress-bar" style="width : 50%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.A_Substructure | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.A_Substructure * model.GrossSquareFeet | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="barFild">
                                <h3>B SHELL</h3>
                                <div class="progress-bar" style="width : 50%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.B_Shell | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.B_Shell * model.GrossSquareFeet | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="barFild">
                                <h3>C INTERIORS</h3>
                                <div class="progress-bar" style="width : 50%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.C_Interiors | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.C_Interiors * model.GrossSquareFeet | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="barFild">
                                <h3>D SERVICES</h3>
                                <div class="progress-bar" style="width : 50%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.D_Services | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.D_Services * model.GrossSquareFeet | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="barFild" style="margin-top : 4px">
                                <h3>E EQUIPMENT & FURNISHINGS</h3>
                                <div class="progress-bar" style="width : 50%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.E_EquipmentFurnishings | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.E_EquipmentFurnishings * model.GrossSquareFeet | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="barFild" style="margin-top : 4px">
                                <h3>F SPECIAL CONSTRUCTION & DEMOLITION</h3>
                                <div class="progress-bar" style="width : 50%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.F_ConstructionDemolition | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.F_ConstructionDemolition * model.GrossSquareFeet | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="barFild" style="margin-top : 4px">
                                <h3>SUBTOTAL DIRECT COST</h3>
                                <div class="progress-bar" style="width : 75%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.SubtotalDirectCost_building | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.SubtotalDirectCost_building * model.GrossSquareFeet | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="barFild" style="margin-top : 4px">
                                <h3>CONTRACTOR MARKUPS</h3>
                                <div class="progress-bar" style="width : 50%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.ContractorMarkups_building | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.ContractorMarkups_building * model.GrossSquareFeet | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="barFild" style="margin-top : 4px">
                                <h3>CONTINGENCIES</h3>
                                <div class="progress-bar" style="width : 50%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.Contingencies_building | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.Contingencies_building * model.GrossSquareFeet | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="barFild">
                                <h3>Total Building Construction Cost</h3>
                                <div class="progress-bar" style="width : 75%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.TotalBuildingConstruction | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.TotalBuildingConstruction * model.GrossSquareFeet | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-12 col-md-6">
                        <div class="barBoder">
                            <h3 class="titl">Site Construction</h3>
                            <div class="bilConst">
                                <label>GSA:</label>
                                <input type="text" [(ngModel)]="model.GrossSiteArea" name="Gross Site Area" readonly>
                            </div>

                            <div class="clearfix"></div>

                            <div class="barFild" style="margin-top: 3px">
                                <h3>Site Development</h3>
                                <div class="progress-bar" style="width : 50%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.SiteDevelopment_site | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.SiteDevelopment_site * model.GrossSiteArea | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="barFild">
                                <h3>Site utilities</h3>
                                <div class="progress-bar" style="width : 50%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.SiteUtilities_site | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.SiteUtilities_site * model.GrossSiteArea | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="barFild">
                                <h3>Subtotal Direct Cost</h3>
                                <div class="progress-bar" style="width : 75%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.SubtotalDirectCost_site | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.SubtotalDirectCost_site * model.GrossSiteArea | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="barFild">
                                <h3>Contractor Markups</h3>
                                <div class="progress-bar" style="width : 50%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.ContractorMarkups_site | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.ContractorMarkups_site * model.GrossSiteArea | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="barFild">
                                <h3>Contingencies</h3>
                                <div class="progress-bar" style="width : 50%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.Contingencies_site | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.Contingencies_site * model.GrossSiteArea | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="barFild">
                                <h3>Total Site Construction Cost</h3>
                                <div class="progress-bar" style="width : 75%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.TotalSiteConstruction_site | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.TotalSiteConstruction_site * model.GrossSiteArea | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="barBoder" style="margin-top : -8px">
                            <div class="barFild">
                                <h3>Total Construction Cost</h3>
                                <div class="progress-bar" style="width : 75%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.TotalConstructionCosts | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.TotalConstructionCosts * model.GrossSquareFeet | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="barBoder" style="margin-top : -8px; margin-bottom : 3px">
                            <div class="barFild">
                                <h3>Soft Costs</h3>
                                <h3>Total Soft Costs</h3>
                                <div class="progress-bar" style="width : 75%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.SoftCosts | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.SoftCosts * model.GrossSquareFeet | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="barFild">
                                <h3>Total Project Cost</h3>
                                <div class="progress-bar" style="width : 75%">
                                    <p class="progress-bar-value">
                                        $ {{resultView.TotalProjectCosts | number : '1.2-2'}} /SF
                                        <span class="pull-right">
                                            $ {{resultView.TotalProjectCosts * model.GrossSquareFeet | number : '1.0'}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Fixed viewer -->

            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="barBoder pLR">
                        <div class="projForm">
                            <h3 class="formTitl">Project Set Up</h3>
                            <label>Institution</label>
                            <input name="Project Institution" class="form-control" placeholder="Please entry Institution" type="text" [(ngModel)]="project.Institution" />
                            <label>Campus Precint</label>
                            <input name="Campus Precint" class="form-control" placeholder="Please entry Campus Precint" type="text" [(ngModel)]="project.CampusPrecint" />
                            <label>Project Name</label>
                            <input name="Project Name" class="form-control" placeholder="Please entry Project Name" type="text" [(ngModel)]="project.Name" (ngModelChange)="setProjectName()" />
                            <label>Building Type</label>
                            <select name="Bilding Type" (change)="calc(projectForm)" class="form-control select" required [(ngModel)]="model.BuildingType" (ngModelChange)="onBuildingTypeChange($event)">
                                <option *ngFor="let enumValue of buildingTypes" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                            </select>
                            <label>Location</label>
                            <select name="Location Factors" (change)="calc(projectForm)" required class="form-control select" [(ngModel)]="model.LocationFactor">
                                <option *ngFor="let enumValue of locationFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                            </select>
                            <label>Project Delivery Strategy</label>
                            <select name="Project Delivery Strategy Factors" (change)="calc(projectForm)" required class="form-control select" [(ngModel)]="model.ProjectDeliveryStrategyFactor">
                                <option *ngFor="let enumValue of projectDeliveryStrategyFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                            </select>
                        </div>
                    </div>



                    <div class="barBoder pLR slightlyUp">
                        <div class="projForm" *ngIf="minEstimateDate">
                            <h3 class="formTitl">Construction Schedule</h3>
                            <label>Estimate Date</label>                         
                            <my-date-picker name="Estimate Date"
                                            [options]="myDatePickerOptions"
                                            (dateChanged)="onEstimateDateChanged($event);calc(projectForm)"
                                            [(ngModel)]="model.EstimateDate">
                            </my-date-picker>
                            <label>Construction Start Date</label>
                            <my-date-picker name="Construction Start Date"
                                            [options]="myDatePickerOptions"
                                            (dateChanged)="onConstructionStartDateChanged($event);calc(projectForm)"
                                            [(ngModel)]="model.ConstructionStartDate">
                            </my-date-picker>
                            <label>Construction Duration</label>
                            <input (change)="calc(projectForm, $event)" step="1" name="Duration In Months" #contingenciesDesign="ngModel" required [(ngModel)]="model.DurationInMonths" class="input" type="number" pattern="\d+">
                            <label>Escalate To</label>
                            <select name="Escalate To Values" (change)="calc(projectForm)" required class="select" [(ngModel)]="model.EscalateTo">
                                <option *ngFor="let enumValue of escalateToValues" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="barBoder pLR slightlyUp">
                        <div class="projForm">
                            <h3 class="formTitl">Contingencies</h3>
                            <soft-cost-slider [caption]="'Design Contingency'"
                                              [programASFValue]="model.ContingenciesDesignASF"
                                              (programASFValueUpdated)="changedDesignFeeASF($event, 'ContingenciesDesign');calc(projectForm)"
                                              [maxValue]="maxContingenciesDesign"
                                              [Id]="'contingenciesDesign'"
                                              [className]=""
                                              [gsfValue]="100">
                            </soft-cost-slider>
                            <label>Construction Contingency</label>
                            <input name="Construction" #contingenciesDesign="ngModel" class="input percent" min="1" (change)="calc(projectForm)" type="number" required [(ngModel)]="model.Z930Percent" readonly />
                            <label>Escalation Contingency</label>
                            <input name="Escalation" #contingenciesDesign="ngModel" class="input percent" min="1" (change)="calc(projectForm)" type="number" required [(ngModel)]="model.Z920Percent" readonly />
                        </div>
                    </div>

                    <div class="barBoder pLR slightlyUp">
                        <div class="projForm">
                            <h3 class="formTitl">Soft Costs</h3>

                            <soft-cost-slider [caption]="'Design Fees'"
                                              [programASFValue]="model.DesignFeeASF"
                                              (programASFValueUpdated)="changedDesignFeeASF($event, 'DesignFee');calc(projectForm)"
                                              [maxValue]="maxDesignFee"
                                              [Id]="'designFee'"
                                              [className]=""
                                              [gsfValue]="100">
                            </soft-cost-slider>

                            <soft-cost-slider [caption]="'FFE'"
                                              [programASFValue]="model.FfeASF"
                                              (programASFValueUpdated)="changedDesignFeeASF($event, 'FFE');calc(projectForm)"
                                              [maxValue]="maxFFE"
                                              [Id]="'fee'"
                                              [className]=""
                                              [gsfValue]="100">
                            </soft-cost-slider>

                            <soft-cost-slider [caption]="'Technology'"
                                              [programASFValue]="model.TechnologyASF"
                                              (programASFValueUpdated)="changedDesignFeeASF($event, 'Technology');calc(projectForm)"
                                              [maxValue]="maxTechnology"
                                              [Id]="'technology'"
                                              [className]=""
                                              [gsfValue]="100">
                            </soft-cost-slider>

                            <soft-cost-slider [caption]="'Contingency'"
                                              [programASFValue]="model.ContingencyASF"
                                              (programASFValueUpdated)="changedDesignFeeASF($event, 'Contingency');calc(projectForm)"
                                              [maxValue]="maxContingency"
                                              [Id]="'contingency'"
                                              [className]=""
                                              [gsfValue]="100">
                            </soft-cost-slider>

                            <soft-cost-slider [caption]="'Misc'"
                                              [programASFValue]="model.MiscASF"
                                              (programASFValueUpdated)="changedDesignFeeASF($event, 'Misc');calc(projectForm)"
                                              [maxValue]="maxMisc"
                                              [Id]="'misc'"
                                              [className]=""
                                              [gsfValue]="100">
                            </soft-cost-slider>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-9">
                    <div class="barBoder">
                        <div class="projForm">
                            <h3 class="formTitl buildParamSection">Building System Parameters</h3>
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <building-levels (change)="calc(projectForm, $event);" [numberOfLevels]="model.NumberOfLevels" [buildingFootprint]="model.BuildingFootprint" [(grossSquareFeet)]="model.GrossSquareFeet" [numberOfBelowGradeLevels]="model.NumberOfBelowGradeLevels" [numberOfAboveGradeLevels]="model.NumberOfAboveGradeLevels" (numberOfLevelsUpdated)="numberOfLevelsUpdated($event)"></building-levels>

                                    <cladding-ratio (ngModelChange)="mychange($event)" (change)="calc(projectForm)" [numberOfBelowGradeLevels]="model.NumberOfBelowGradeLevels" [numberOfAboveGradeLevels]="model.NumberOfAboveGradeLevels" [numberOfLevels]="model.NumberOfLevels" [basementFFHeights]="model.BasementFFHeights" [gFS]="model.GrossSquareFeet" [floorPlateWidth]="model.FloorPlateWidth" [fFHeights]="model.FFHeights" [claddingRatio]="model.CladdingRatio" (claddingRatioUpdated)="claddingRatioUpdated($event)"></cladding-ratio>

                                    <label>Footprint Area</label>
                                    <input name="Footprint Area" min="0" #BuildingFootprint="ngModel" class="form-control input" type="number" required [(ngModel)]="model.BuildingFootprint" (change)="calc(projectForm, $event)" autofocus />

                                    <label>Architectural Expectation</label>
                                    <select name="Architectural Expectation" (change)="calc(projectForm)" required class="form-control select" [(ngModel)]="model.ArchitecturalExpectation">
                                        <option *ngFor="let enumValue of architecturalExpectations" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                    </select>
                                    <label>Performance Expectation</label>
                                    <select name="Performance Expectation" (change)="calc(projectForm)" required class="form-control select" [(ngModel)]="model.PerformanceExpectation">
                                        <option *ngFor="let enumValue of performanceExpectations" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                    </select>
                                </div>

                                <div class="col-xs-12 col-md-4">
                                    <label>Cladding Ratio</label>
                                    <input name="Cladding Ratio" class="form-control input" min="0" max="2" type="number" required [(ngModel)]="model.CladdingRatio" (change)="calc(projectForm, $event)" step="0.01" />
                                    <label>Glazing Ratio</label>
                                    <input name="Glazing Ratio" #glazingRatio="ngModel" (change)="calc(projectForm, $event)" class="form-control input" min="0" max="1" type="number" required [(ngModel)]="model.GlazingRatio" step="0.01" />
                                    <label>Vertical Articulation Factor</label>
                                    <input name="Vertical Articulation Factor" #verticalArticulationFactor="ngModel" (change)="calc(projectForm, $event)" class="form-control input" min="1" max="2" type="number" required [(ngModel)]="model.VerticalArticulationFactor" step="0.01" />
                                    <label>Horizontal Articulation Factor</label>
                                    <input name="Horizontal Articulation Factor" #horizontalArticulationFactor="ngModel" (change)="calc(projectForm, $event)" min="1" max="2" class="form-control input" type="number" required [(ngModel)]="model.HorizontalArticulationFactor" step="0.01" />
                                    <label>Roof Terrace Ratio</label>
                                    <input name="Roof Terrace Ratio" #roofTerraceRatio="ngModel" (change)="calc(projectForm, $event)" class="form-control input" min="0" max="1" type="number" required [(ngModel)]="model.RoofTerraceRatio" step="0.01" />
                                    <label>Roof Glazing Ratio</label>
                                    <input name="Roof Glazing Ratio" (change)="calc(projectForm, $event)" #roofGlazingRatio="ngModel" min="0" max="1" class="form-control input" type="number" required [(ngModel)]="model.RoofGlazingRatio" step="0.01" />
                                    <label>Floor Construction Type</label>
                                    <select name="Floor Construction Type" (change)="calc(projectForm)" required class="form-control select" [(ngModel)]="model.FloorConstructionType">
                                        <option *ngFor="let enumValue of floorConstructionTypes" [ngValue]="enumValue">{{enumValue}}</option>
                                    </select>
                                    <label>Roof Construction Type</label>
                                    <select name="Roof Construction Type" (change)="calc(projectForm)" required class="form-control select" [(ngModel)]="model.RoofConstructionType">
                                        <option *ngFor="let enumValue of roofConstructionTypes" [ngValue]="enumValue">{{enumValue}}</option>
                                    </select>
                                    <label>Site Constraint</label>
                                    <select name="Site Constraint" (change)="calc(projectForm)" class="form-control select" required [(ngModel)]="model.SiteConstraint">
                                        <option *ngFor="let enumValue of siteConstraints" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                    </select>
                                    <label>Soil Condition</label>
                                    <select name="Soil Condition" (change)="calc(projectForm)" class="form-control select" required [(ngModel)]="model.SoilCondition">
                                        <option *ngFor="let enumValue of soilConditions" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                    </select>

                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label>Plumbing</label>
                                    <select name="Plumbing" class="form-control select" (change)="calc(projectForm)" required [(ngModel)]="model.Plumbing">
                                        <option *ngFor="let enumValue of plumbings" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                    </select>
                                    <label>HVAC</label>
                                    <select name="HVAC" class="form-control select" (change)="calc(projectForm)" required [(ngModel)]="model.HVAC">
                                        <option *ngFor="let enumValue of HVACs" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                    </select>
                                    <label>Electrical</label>
                                    <select name="Electrical" class="form-control select" (change)="calc(projectForm)" required [(ngModel)]="model.Electrical">
                                        <option *ngFor="let enumValue of electricals" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                    </select>
                                    <label>Fire Protection</label>
                                    <select name="Fire Protection" class="form-control select" (change)="calc(projectForm)" required [(ngModel)]="model.FireProtection">
                                        <option *ngFor="let enumValue of fireProtections" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                    </select>
                                    <label>Facility Remediation</label>
                                    <select name="Facility Remediation" class="form-control select" (change)="calc(projectForm)" required [(ngModel)]="model.FacilityRemediation">
                                        <option *ngFor="let enumValue of facilityRemediation" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                    </select>
                                    <label>Building plant</label>
                                    <select name="Building plant" class="form-control select" (change)="calc(projectForm)" required [(ngModel)]="model.BuildingPlant">
                                        <option *ngFor="let enumValue of buildingPlants" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                    </select>
                                    <label>Special Construction Allowance</label>
                                    <input name="Special Construction Allowance" #specialConstructionAllowance="ngModel" class="form-control input" (change)="calc(projectForm, $event)" ng-min="1" type="number" required [(ngModel)]="model.SpecialConstructionAllowance" autofocus />
                                    <label>Area of Facility to be Remediated</label>
                                    <input name="Area of Facility to be Remediated" #areaOfFacilityToBeRemediated="ngModel" ng-min="1" class="form-control input" (change)="calc(projectForm, $event)" type="number" required [(ngModel)]="model.AreaOfFacilityToBeRemediated" autofocus />

                                    <label>Facility Demolition</label>
                                    <select name="Facility Demolition" class="form-control select" (change)="calc(projectForm)" required [(ngModel)]="model.FacilityDemolition">
                                        <option *ngFor="let enumValue of facilityDemolition" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                    </select>
                                    <label>Area of Facility to be Demolished</label>
                                    <input name="Area of Facility to be Demolished" #areaOfFacilityToBeDemolished="ngModel" ng-min="1" class="form-control input" (change)="calc(projectForm, $event)" type="number" required [(ngModel)]="model.AreaOfFacilityToBeDemolished" autofocus />

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="barBoder slightlyUp">
                        <div class="projForm">
                            <h3 class="formTitl buildParamSection">Program Parameters</h3>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <range-component [min]="minBuildingEfficiency"
                                                     [max]="maxBuildingEfficiency"
                                                     [step]="stepSize"
                                                     [model]="model.BuildingEfficiency"
                                                     [label]="'BuildingEfficiency'"
                                                     [isASF]="true"
                                                     [programASFValue]="buildingEfficiencyASF"
                                                     [className]="'moreThanCol6'"
                                                     (updateAFS)="changedASFValue($event)"
                                                     [GFA]="model.GrossSquareFeet">

                                    </range-component>
                                </div>
                            </div>
                            <div class="row" *ngIf="!isInit">
                                <div class="col-xs-12 col-md-8">
                                    <program-range *ngIf="viewSettings.AssignableProgram1IsUsing && viewSettings.AssignableProgram1Caption"
                                                   [caption]="viewSettings.AssignableProgram1Caption"
                                                   [programASFValue]="model.AssignableProgram1ASF"
                                                   (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 1)"
                                                   [maxValue]="model.BuildingEfficiency"
                                                   [Id]="'AssignableProgram1'"
                                                   [className]="'halfWidth'"
                                                   [gsfValue]="model.GrossSquareFeet"></program-range>

                                    <program-range *ngIf="viewSettings.AssignableProgram2IsUsing"
                                                   [caption]="viewSettings.AssignableProgram2Caption"
                                                   [programASFValue]="model.AssignableProgram2ASF"
                                                   (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 2)"
                                                   [maxValue]="model.BuildingEfficiency"
                                                   [Id]="'AssignableProgram2'"
                                                   [className]="'halfWidth'"
                                                   [gsfValue]="model.GrossSquareFeet"></program-range>

                                    <program-range *ngIf="viewSettings.AssignableProgram3IsUsing"
                                                   [caption]="viewSettings.AssignableProgram3Caption"
                                                   [programASFValue]="model.AssignableProgram3ASF"
                                                   (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 3)"
                                                   [maxValue]="model.BuildingEfficiency"
                                                   [gsfValue]="model.GrossSquareFeet"
                                                   [className]="'halfWidth'"
                                                   [Id]="'AssignableProgram3'"></program-range>

                                    <program-range *ngIf="viewSettings.AssignableProgram4IsUsing"
                                                   [caption]="viewSettings.AssignableProgram4Caption"
                                                   [programASFValue]="model.AssignableProgram4ASF"
                                                   (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 4)"
                                                   [maxValue]="model.BuildingEfficiency"
                                                   [Id]="'AssignableProgram4'"
                                                   [className]="'halfWidth'"
                                                   [gsfValue]="model.GrossSquareFeet"></program-range>

                                    <program-range *ngIf="viewSettings.AssignableProgram5IsUsing"
                                                   [caption]="viewSettings.AssignableProgram5Caption"
                                                   [programASFValue]="model.AssignableProgram5ASF"
                                                   (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 5)"
                                                   [maxValue]="model.BuildingEfficiency"
                                                   [Id]="'AssignableProgram5'"
                                                   [className]="'halfWidth'"
                                                   [gsfValue]="model.GrossSquareFeet"></program-range>

                                    <program-range *ngIf="viewSettings.AssignableProgram6IsUsing"
                                                   [caption]="viewSettings.AssignableProgram6Caption"
                                                   [programASFValue]="model.AssignableProgram6ASF"
                                                   (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 6)"
                                                   [maxValue]="model.BuildingEfficiency"
                                                   [Id]="'AssignableProgram6'"
                                                   [className]="'halfWidth'"
                                                   [gsfValue]="model.GrossSquareFeet"></program-range>

                                    <program-range *ngIf="viewSettings.AssignableProgram7IsUsing"
                                                   [caption]="viewSettings.AssignableProgram7Caption"
                                                   [programASFValue]="model.AssignableProgram7ASF"
                                                   (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 7)"
                                                   [maxValue]="model.BuildingEfficiency"
                                                   [Id]="'AssignableProgram7'"
                                                   [className]="'halfWidth'"
                                                   [gsfValue]="model.GrossSquareFeet"></program-range>

                                    <program-range *ngIf="viewSettings.AssignableProgram8IsUsing"
                                                   [caption]="viewSettings.AssignableProgram8Caption"
                                                   [programASFValue]="model.AssignableProgram8ASF"
                                                   (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 8)"
                                                   [maxValue]="model.BuildingEfficiency"
                                                   [Id]="'AssignableProgram8'"
                                                   [className]="'halfWidth'"
                                                   [gsfValue]="model.GrossSquareFeet"></program-range>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <program-range *ngIf="model.GrossUpProgram1ASF || model.GrossUpProgram1ASF == 0"
                                                   [caption]="viewSettings.GrossUpProgram1Caption"
                                                   [programASFValue]="model.GrossUpProgram1ASF"
                                                   (programASFValueUpdated)="grossUpProgramASFValueUpdated($event, 1)"
                                                   [maxValue]="1 - model.BuildingEfficiency"
                                                   [programPercentValue]="model.GrossUpProgram1"
                                                   [gsfValue]="model.GrossSquareFeet"
                                                   [className]="'fullWidth'"
                                                   [Id]="'GrossUpProgram1'"></program-range>
                                    <program-range *ngIf="model.GrossUpProgram2ASF || model.GrossUpProgram2ASF == 0"
                                                   [caption]="viewSettings.GrossUpProgram2Caption"
                                                   [programASFValue]="model.GrossUpProgram2ASF"
                                                   (programASFValueUpdated)="grossUpProgramASFValueUpdated($event, 2)"
                                                   [maxValue]="1 - model.BuildingEfficiency"
                                                   [gsfValue]="model.GrossSquareFeet"
                                                   [className]="'fullWidth'"
                                                   [Id]="'GrossUpProgram2'"></program-range>
                                    <program-range *ngIf="model.GrossUpProgram3ASF || model.GrossUpProgram3ASF == 0"
                                                   [caption]="viewSettings.GrossUpProgram3Caption"
                                                   [programASFValue]="model.GrossUpProgram3ASF"
                                                   (programASFValueUpdated)="grossUpProgramASFValueUpdated($event, 3)"
                                                   [maxValue]="1 - model.BuildingEfficiency"
                                                   [gsfValue]="model.GrossSquareFeet"
                                                   [className]="'fullWidth'"
                                                   [Id]="'GrossUpProgram3'"></program-range>
                                    <program-range *ngIf="model.GrossUpProgram4ASF || model.GrossUpProgram4ASF == 0"
                                                   [caption]="viewSettings.GrossUpProgram4Caption"
                                                   [programASFValue]="model.GrossUpProgram4ASF"
                                                   (programASFValueUpdated)="grossUpProgramASFValueUpdated($event, 4)"
                                                   [maxValue]="1 - model.BuildingEfficiency"
                                                   [gsfValue]="model.GrossSquareFeet"
                                                   [className]="'fullWidth'"
                                                   [Id]="'GrossUpProgram4'"></program-range>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="barBoder slightlyUp">
                        <div class="projForm">
                            <h3 class="formTitl buildParamSection">Site Parameters</h3>
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <label>
                                        Gross Site Area
                                    </label>
                                    <input class="input" type="number" required [(ngModel)]="model.GrossSiteArea" name="Gross Site Area" (change)="parseDouble($event);calc(projectForm, $event)">
                                    <label>Site Preparation</label>
                                    <select name="Site Preparation" class="select" (change)="calc(projectForm)" required [(ngModel)]="model.SitePreparation">
                                        <option *ngFor="let enumValue of  sitePreparation" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                    </select>
                                    <label>Site Development</label>
                                    <select name="Site Development" class="select" (change)="calc(projectForm)" required [(ngModel)]="model.SiteDevelopment">
                                        <option *ngFor="let enumValue of  siteDevelopment" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                    </select>
                                    <label>Site Infrastructure Services</label>
                                    <select name="Site Infrastructure Services" class="select" (change)="calc(projectForm)" required [(ngModel)]="model.SiteInfrastructureServices">
                                        <option *ngFor="let enumValue of siteInfrastructureServices" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                    </select>
                                    <label>Site Infrastructure Civil</label>
                                    <select name="Site Infrastructure Civil" class="select" (change)="calc(projectForm)" required [(ngModel)]="model.SiteInfrastructureCivil">
                                        <option *ngFor="let enumValue of siteInfrastructureCivil" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="chectBox">
                                        <input #SiteServicesHotWatercb type="checkbox" class="cBox col-md-2" [checked]="model.SiteServicesHotWater" (change)="model.SiteServicesHotWater = SiteServicesHotWatercb.checked;calc(projectForm);" />
                                        <label class="col-md-10">Site Service - Hot Water</label>
                                    </div>
                                    <div class="chectBox">
                                        <input #SiteServicesSteamCondensatecb type="checkbox" class="cBox col-md-2" [checked]="model.SiteServicesSteamCondensate" (change)="model.SiteServicesSteamCondensate = SiteServicesSteamCondensatecb.checked;calc(projectForm);" />
                                        <label class="col-md-10">Site Service - Steam/Condensate</label>
                                    </div>
                                    <div class="chectBox">
                                        <input #SiteServicesChilledWaterSupplycb type="checkbox" class="cBox col-md-2" [checked]="model.SiteServicesChilledWaterSupply" (change)="model.SiteServicesChilledWaterSupply = SiteServicesChilledWaterSupplycb.checked;calc(projectForm);" />
                                        <label class="col-md-10">Site Service - Chilled Water Supply/Return</label>
                                    </div>
                                    <div class="chectBox">
                                        <input #chechBoxElement type="checkbox" class="cBox col-md-2" name="SiteInfrastructureElectrical" [checked]="model.SiteInfrastructureElectrical" (change)="changeValueCheckBox(chechBoxElement);calc(projectForm);" />
                                        <label class="col-md-10">Site Service - Electrical</label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="chectBox">
                                        <input #SiteCivilWaterFirecb type="checkbox" class="cBox col-md-2" [checked]="model.SiteCivilWaterFire" (change)="model.SiteCivilWaterFire = SiteCivilWaterFirecb.checked;calc(projectForm);" />
                                        <label class="col-md-10">Site Civil - Water/Fire Water</label>
                                    </div>
                                    <div class="chectBox">
                                        <input #SiteCivilSanitarySewercb type="checkbox" class="cBox col-md-2" [checked]="model.SiteCivilSanitarySewer" (change)="model.SiteCivilSanitarySewer = SiteCivilSanitarySewercb.checked;calc(projectForm);" />
                                        <label class="col-md-10">Site Service - Sanitary Sewer</label>
                                    </div>
                                    <div class="chectBox">
                                        <input #SiteCivilStormSewercb type="checkbox" class="cBox col-md-2" [checked]="model.SiteCivilStormSewer" (change)="model.SiteCivilStormSewer = SiteCivilStormSewercb.checked;calc(projectForm);" />
                                        <label class="col-md-10">Site Service - Storm Sewer</label>
                                    </div>
                                    <div class="chectBox">
                                        <input #SiteCivilGascb type="checkbox" class="cBox col-md-2" [checked]="model.SiteCivilGas" (change)="model.SiteCivilGas = SiteCivilGascb.checked;calc(projectForm);" />
                                        <label class="col-md-10">Site Service - Gas</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button (click)="saveProject(projectForm)" class="saveBtn">SAVE</button>
                    <button (click)="saveAsProjectModel(projectForm)" class="saveBtn">SAVE AS</button>
                    <button (click)="openReportPage()" class="saveBtn">GENERATE PDF</button>
                    <button (click)="calc(projectForm)" class="saveBtn">CALCULATE</button>
                    <!--<button (click)="resetProjectValues()" class="saveBtn">RESET</button>-->
                </div>
            </div>

        </div>
    </section>
</form>
