.projForm label {
    text-align: left;
}

.saveBtn {
    margin: 10px;
}

.fullWidth {
    width: 40%;
    margin-right: 15%;
}

.halfWidth {
    width: 50%;
}

.chectBox {
    margin-top: 20px;
}

    .chectBox label {
        margin: 0;
    }

.barFild {
    width: 100%;
}

    .barFild .progress-bar > span {
        position: absolute;
        color: #02b2e5;
        top: 27px;
    }

    .barFild .progress-bar .valueOfBar {
        top: 25px;
        color: #555;
        position: absolute;
    }

    .barFild .progress > span {
        position: absolute;
        color: #02b2e5;
        top: 2px;
    }

.percent {
    background-image: url('../../../Images/_percentage.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
    vertical-align: middle;
}
