﻿<div>
    <h2>A20 calculation</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 singleFormula">
            <form name="depositForm" class="form-horizontal container-fluid" (ngSubmit)="calc()">
                <div class="row">
                    <div class="col-md-12 col-xs-6">
                        <building-levels (change)="calc(formulaForm)" [numberOfLevels]="model.NumberOfLevels" [buildingFootprint]="model.BuildingFootprint" [grossSquareFeet]="model.GrossSquareFeet" [numberOfBelowGradeLevels]="model.NumberOfBelowGradeLevels" [numberOfAboveGradeLevels]="model.NumberOfAboveGradeLevels" (numberOfLevelsUpdated)="numberOfLevelsUpdated($event)"></building-levels>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Location Factor</label>
                            <div class="input-group">
                                <select name="locationFactors" class="form-control" [(ngModel)]="model.LocationFactor">
                                    <option *ngFor="let enumValue of locationFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Project Delivery Strategy Factor</label>
                            <div class="input-group">
                                <select name="projectDeliveryStrategyFactors" class="form-control" [(ngModel)]="model.ProjectDeliveryStrategyFactor">
                                    <option *ngFor="let enumValue of projectDeliveryStrategyFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Number of Basement levels</label>
                            <div class="input-group">
                                <input name="NumberOfBelowGradeLevels" class="form-control" type="number" required [(ngModel)]="model.NumberOfBelowGradeLevels" />
                            </div>
                        </div>
                        <cladding-ratio (change)="calc(formulaForm)" [numberOfBelowGradeLevels]="model.NumberOfBelowGradeLevels" [numberOfAboveGradeLevels]="model.NumberOfAboveGradeLevels" [numberOfLevels]="model.NumberOfLevels" [basementFFHeights]="model.BasementFFHeights" [gFS]="model.GrossSquareFeet" [floorPlateWidth]="model.FloorPlateWidth" [fFHeights]="model.FFHeights" [claddingRatio]="model.CladdingRatio" (claddingRatioUpdated)="claddingRatioUpdated($event)"></cladding-ratio> 
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Site Constraint</label>
                            <div class="input-group">
                                <select name="siteConstraints" class="form-control" [(ngModel)]="model.SiteConstraint">
                                    <option *ngFor="let enumValue of siteConstraints" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </div>
            </form>
        </div>
        <div>
            <label>{{status}}</label>
        </div>
        <div class="col-md-12">
            <label></label>
        </div>
        <div><h3>Baseline Variables</h3></div>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tr *ngFor="let variables of result.BaselineVariables">
                    <td>{{variables.Name}}</td>
                    <td>{{variables.Value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
