﻿<div>
    <h2>A40 calculation</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="depositForm" class="form-horizontal container-fluid" (ngSubmit)="calc()">
                <div class="row">
                    <div class="col-md-12 col-xs-6">
                        <building-levels [numberOfLevels]="model.NumberOfLevels" [buildingFootprint]="model.BuildingFootprint" [grossSquareFeet]="model.GrossSquareFeet" [numberOfBelowGradeLevels]="model.NumberOfBelowGradeLevels" [numberOfAboveGradeLevels]="model.NumberOfAboveGradeLevels" (numberOfLevelsUpdated)="numberOfLevelsUpdated($event)"></building-levels>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Location Factor</label>
                            <div class="input-group">
                                <select name="locationFactors" class="form-control" [(ngModel)]="model.LocationFactor">
                                    <option *ngFor="let enumValue of locationFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Project Delivery Strategy Factor</label>
                            <div class="input-group">
                                <select name="projectDeliveryStrategyFactors" class="form-control" [(ngModel)]="model.ProjectDeliveryStrategyFactor">
                                    <option *ngFor="let enumValue of projectDeliveryStrategyFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Building Type</label>
                            <div class="input-group">
                                <select name="buildingTypes" class="form-control" [(ngModel)]="model.BuildingType">
                                    <option *ngFor="let enumValue of buildingTypes" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </div>
            </form>
        </div>
        <div>
            <label>{{status}}</label>
        </div>
        <div class="col-md-12">
            <label></label>
        </div>
        <div><h3>Baseline Variables</h3></div>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tr *ngFor="let variables of result.BaselineVariables">
                    <td>{{variables.Name}}</td>
                    <td>{{variables.Value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
