﻿<div>
    <h2>B10 calculation</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="depositForm" class="form-horizontal container-fluid" (ngSubmit)="calc()">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group col-md-12 col-xs-12">
                            <div class="row">
                                <label>Gross Square Feet</label>
                                <div class="input-group">
                                    <input name="GrossSquareFeet" class="form-control" type="number" required [(ngModel)]="model.GrossSquareFeet" autofocus />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <div class="row">
                                <label>Number of levels</label>
                                <div class="input-group">
                                    <input name="NumberOfLevels" class="form-control" type="number" required [(ngModel)]="model.NumberOfLevels" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Location Factor</label>
                            <div class="input-group">
                                <select name="locationFactors" class="form-control" [(ngModel)]="model.LocationFactor">
                                    <option *ngFor="let enumValue of locationFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Project Delivery Strategy Factor</label>
                            <div class="input-group">
                                <select name="projectDeliveryStrategyFactors" class="form-control" [(ngModel)]="model.ProjectDeliveryStrategyFactor">
                                    <option *ngFor="let enumValue of projectDeliveryStrategyFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <div class="row">
                                <label>Horizontal Articulation Factor</label>
                                <div class="input-group">
                                    <input name="BasementFFHeights" class="form-control" type="number" required [(ngModel)]="model.HorizontalArticulationFactor" step="0.1" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <div class="row">
                                <label>Building Type</label>
                                <div class="input-group">
                                    <select name="buildingTypes" class="form-control" [(ngModel)]="model.BuildingType" (ngModelChange)="onBuildingTypeChange($event)">
                                        <option *ngFor="let enumValue of buildingTypes" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3 col-xs-3">
                                </div>
                                <div class="form-group col-md-6 col-xs-6">
                                    <label>Floor Construction Type</label>
                                    <div class="input-group">
                                        <select name="floorConstructionTypes" class="form-control" [(ngModel)]="model.FloorConstructionType">
                                            <option *ngFor="let enumValue of floorConstructionTypes" [ngValue]="enumValue">{{enumValue}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3 col-xs-3">
                                </div>
                                <div class="form-group col-md-6 col-xs-6">
                                    <label>Roof Construction Type</label>
                                    <div class="input-group">
                                        <select name="roofConstructionTypes" class="form-control" [(ngModel)]="model.RoofConstructionType" >
                                            <option *ngFor="let enumValue of roofConstructionTypes" [ngValue]="enumValue">{{enumValue}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </div>
            </form>
        </div>
        <div>
            <label>{{status}}</label>
        </div>
        <div class="col-md-12">
            <label></label>
        </div>
        <div><h3>Baseline Variables</h3></div>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tr *ngFor="let variables of result.BaselineVariables">
                    <td>{{variables.Name}}</td>
                    <td>{{variables.Value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
