﻿<div class="row text-center">
    <h2>Project - {{projectName}}</h2>
</div>
<simple-notifications [options]="options"></simple-notifications>
<div class="row">
    <div class="container complexFormula">
        <form #formulaForm="ngForm" name="depositForm" class="form-horizontal container-fluid text-center" (ngSubmit)="calc(formulaForm)">
            <div class="row" style="margin-bottom:20px;">
                <h3>Project Set Up</h3>
                <div class="form-group col-md-3 col-xs-12">
                    <label>Building Type</label>
                    <div class="input-group">
                        <select  name="buildingTypes" (change)="calc(formulaForm)" class="form-control" required [(ngModel)]="model.BuildingType" (ngModelChange)="onBuildingTypeChange($event)">
                            <option *ngFor="let enumValue of buildingTypes" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-3 col-xs-12">
                    <label>Location Factor</label>
                    <div class="input-group">
                        <select  name="locationFactors" (change)="calc(formulaForm)" required class="form-control" [(ngModel)]="model.LocationFactor">
                            <option *ngFor="let enumValue of locationFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-3 col-xs-12">
                    <label>Project Delivery Strategy Factor</label>
                    <div class="input-group">
                        <select name="projectDeliveryStrategyFactors" (change)="calc(formulaForm)" required class="form-control" [(ngModel)]="model.ProjectDeliveryStrategyFactor">
                            <option *ngFor="let enumValue of projectDeliveryStrategyFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                        </select>
                    </div>
                </div>                
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row" style="margin-bottom:20px;">
                <h3>Project Costs</h3>
                <div class="form-group col-md-4 col-xs-12">
                    <label>Design Fees  - {{(100*model.DesignFee)| number:0}} %</label>
                    <div class="input-group">
                        <div class="col-md-2" style="padding:0;"><label class="element-left"> {{(100*minDesignFee)| number:0}} %</label> </div>
                        <div class="col-md-8">
                            <input name="DesignFee" class="form-control range-control" (change)="notificationAboutCalculate()" required [(ngModel)]="model.DesignFee" type="range" min="{{minDesignFee}}" max="{{maxDesignFee}}" step="{{stepSize}}" />
                        </div>
                        <div class="col-md-2" style="padding:0;">
                            <label class="element-right">{{(100*maxDesignFee)| number:0}} %</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4 col-xs-12">
                    <label>FFE - {{(100*model.FFE)| number:0}} %</label>
                    <div class="input-group">
                        <div class="col-md-2" style="padding:0;">
                            <label class="element-left"> {{(100*minFFE)| number:0}} %</label>
                        </div>
                        <div class="col-md-8">
                            <input name="FFE" class="form-control range-control" required (change)="notificationAboutCalculate()" [(ngModel)]="model.FFE" type="range" min="{{minFFE}}" max="{{maxFFE}}" step="{{stepSize}}" />
                        </div>
                        <div class="col-md-2" style="padding:0;">
                            <label class="element-right">{{(100*maxFFE)| number:0}} %</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4 col-xs-12">
                    <label>AV / Technology  - {{(100*model.Technology)| number:0}} %</label>
                    <div class="input-group">
                        <div class="col-md-2" style="padding:0;">
                            <label class="element-left"> {{(100*minTechnology)| number:0}} %</label>
                        </div>
                        <div class="col-md-8">
                            <input name="Technology" class="form-control range-control" required (change)="notificationAboutCalculate()" [(ngModel)]="model.Technology" type="range" min="{{minTechnology}}" max="{{maxTechnology}}" step="{{stepSize}}" />
                        </div>
                        <div class="col-md-2" style="padding:0;">
                            <label class="element-right">{{(100*maxTechnology)| number:0}} %</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4 col-xs-12">
                    <label>Contingency - {{(100*model.Contingency)| number:0}} %</label>
                    <div class="input-group">
                        <div class="col-md-2" style="padding:0;">
                            <label class="element-left"> {{(100*minContingency)| number:0}} %</label>
                        </div>
                        <div class="col-md-8">
                            <input name="Contingency" class="form-control range-control" required (change)="notificationAboutCalculate()" [(ngModel)]="model.Contingency" type="range" min="{{minContingency}}" max="{{maxContingency}}" step="{{stepSize}}" />
                        </div>
                        <div class="col-md-2" style="padding:0;">
                            <label class="element-right">{{(100*maxContingency)| number:0}} %</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4 col-xs-12">
                    <label>Misc - {{(100*model.Misc)| number:0}} %</label>
                    <div class="input-group">
                        <div class="col-md-2" style="padding:0;">
                            <label class="element-left"> {{(100*minMisc)| number:0}} %</label>
                        </div>
                        <div class="col-md-8">
                            <input name="Misc" class="form-control range-control" required (change)="notificationAboutCalculate()" [(ngModel)]="model.Misc" type="range" min="{{minMisc}}" max="{{maxMisc}}" step="{{stepSize}}" />
                        </div>
                        <div class="col-md-2" style="padding:0;">
                            <label class="element-right">{{(100*maxMisc)| number:0}} %</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:20px;">
                <h3>Basis of Construction Cost Model</h3>
                <div class="form-group col-md-3 col-xs-12">
                    <label>Estimate Date </label>
                    <!--<material-datepicker [dateFormat]="'MMMM DD YYYY'" (change)="calc(formulaForm)" [(date)]="model.EstimateDate"></material-datepicker>-->
                    <div class="input-group">
                        <my-date-picker name="EstimateDate" [options]="myDatePickerOptions" (dateChanged)="onEstimateDateChanged($event)"
                                        [(ngModel)]="model.EstimateDate"></my-date-picker>
                    </div>
                </div>
                <div class="form-group col-md-3 col-xs-12">
                    <label>Construction Start Date </label>
                    <!--<material-datepicker [dateFormat]="'MMMM DD YYYY'" (change)="calc(formulaForm)" [(date)]="model.ConstructionStartDate"></material-datepicker>-->
                    <div class="input-group">
                        <my-date-picker name="ConstructionStartDate" [options]="myDatePickerOptions" (dateChanged)="onConstructionStartDateChanged($event)"
                                        [(ngModel)]="model.ConstructionStartDate"></my-date-picker>
                    </div>
                </div>
                <div class="form-group col-md-3 col-xs-12">
                    <label>Construction Duration</label>
                    <div class="input-group">
                        <input name="DurationInMonths" #contingenciesDesign="ngModel" class="form-control" min="1" (change)="calc(formulaForm)" type="number" step="1" required [(ngModel)]="model.DurationInMonths" autofocus />
                    </div>
                    <div *ngIf="contingenciesDesign.errors && (contingenciesDesign.dirty || contingenciesDesign.touched) "
                         class="alert alert-danger">
                        <div [hidden]="!contingenciesDesign.errors">
                            The number of Construction Duration  must be more than 1
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-xs-12">
                    <label>Estimate to</label>
                    <div class="input-group">
                        <select name="escalateToValues" (change)="calc(formulaForm)" required class="form-control" [(ngModel)]="model.EscalateTo">
                            <option *ngFor="let enumValue of escalateToValues" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12"></div>
                <div class="form-group col-md-4 col-xs-12">
                    <label style="margin-bottom:5px;">Design Contingency   - {{(100*model.ContingenciesDesign)| number:0}} %</label>
                    <div class="input-group">
                        <label class="pull-left"> {{(100*minContingenciesDesign)| number:0}} %</label>
                        <input name="ContingenciesDesign" style="width:70%;" class="form-control range-control" (change)="notificationAboutCalculate()" required [(ngModel)]="model.ContingenciesDesign" type="range" min="{{minContingenciesDesign}}" max="{{maxContingenciesDesign}}" step="{{stepSize}}" />
                        <label class="pull-right">{{(100*maxContingenciesDesign)| number:0}} %</label>
                    </div>
                    <div *ngIf="contingenciesDesign.errors && (contingenciesDesign.dirty || contingenciesDesign.touched) "
                         class="alert alert-danger">
                        <div [hidden]="!contingenciesDesign.errors">
                            The number of Contingencies  must be between 0 and 1
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3 col-xs-12">
                    <label>Architectural Expectations</label>
                    <div class="input-group">
                        <select name="architecturalExpectations" (change)="calc(formulaForm)" class="form-control" required [(ngModel)]="model.ArchitecturalExpectation">
                            <option *ngFor="let enumValue of architecturalExpectations" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-3 col-xs-12">
                    <label>Performance Expectations</label>
                    <div class="input-group">
                        <select name="performanceExpectations" (change)="calc(formulaForm)" class="form-control" required [(ngModel)]="model.PerformanceExpectation">
                            <option *ngFor="let enumValue of performanceExpectations" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>

            </div>
            <div class="row" style="margin-bottom:20px;">
                <h3>Building Paramaters</h3>
                <div class="col-md-12 col-xs-12 ">
                    
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Soil Condition</label>
                        <div class="input-group">
                            <select name="soilConditions" (change)="calc(formulaForm)" class="form-control" required [(ngModel)]="model.SoilCondition">
                                <option *ngFor="let enumValue of soilConditions" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Site Constraint</label>
                        <div class="input-group">
                            <select name="siteConstraints" (change)="calc(formulaForm)" class="form-control" required [(ngModel)]="model.SiteConstraint">
                                <option *ngFor="let enumValue of siteConstraints" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                            </select>
                        </div>
                    </div>
                    <cladding-ratio (ngModelChange)="mychange($event)" (change)="calc(formulaForm)" [numberOfBelowGradeLevels]="model.NumberOfBelowGradeLevels" [numberOfAboveGradeLevels]="model.NumberOfAboveGradeLevels" [numberOfLevels]="model.NumberOfLevels" [basementFFHeights]="model.BasementFFHeights" [gFS]="model.GrossSquareFeet" [floorPlateWidth]="model.FloorPlateWidth" [fFHeights]="model.FFHeights" [claddingRatio]="model.CladdingRatio" (claddingRatioUpdated)="claddingRatioUpdated($event)"></cladding-ratio>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Floor Construction Type</label>
                        <div class="input-group">
                            <select name="floorConstructionTypes" (change)="calc(formulaForm)" required class="form-control" [(ngModel)]="model.FloorConstructionType">
                                <option *ngFor="let enumValue of floorConstructionTypes" [ngValue]="enumValue">{{enumValue}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Roof Construction Type</label>
                        <div class="input-group">
                            <select name="roofConstructionTypes" (change)="calc(formulaForm)" required class="form-control" [(ngModel)]="model.RoofConstructionType">
                                <option *ngFor="let enumValue of roofConstructionTypes" [ngValue]="enumValue">{{enumValue}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-3 col-xs-12">
                        <label>Glazing Ratio</label>
                        <div class="input-group">
                            <input name="GlazingRatio" #glazingRatio="ngModel" (change)="calc(formulaForm)" class="form-control" min="0" max="1" type="number" required [(ngModel)]="model.GlazingRatio" step="0.01" />
                        </div>
                        <div *ngIf="glazingRatio.errors && (glazingRatio.dirty || glazingRatio.touched) "
                             class="alert alert-danger">
                            <div [hidden]="!glazingRatio.errors">
                                The number of Glazing Ratio  must be between 0 and 1
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Vertical Articulation Factor</label>
                        <div class="input-group">
                            <input name="VerticalArticulationFactor" #verticalArticulationFactor="ngModel" (change)="calc(formulaForm)" class="form-control" min="1" max="2" type="number" required [(ngModel)]="model.VerticalArticulationFactor" step="0.01" />
                        </div>
                        <div *ngIf="verticalArticulationFactor.errors && (verticalArticulationFactor.dirty || verticalArticulationFactor.touched) "
                             class="alert alert-danger">
                            <div [hidden]="!verticalArticulationFactor.errors">
                                The number of Vertical Articulation Factor  must be between 1 and 2
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Horizontal Articulation Factor</label>
                        <div class="input-group">
                            <input name="HorizontalArticulationFactor" #horizontalArticulationFactor="ngModel" (change)="calc(formulaForm)" min="1" max="2" class="form-control" type="number" required [(ngModel)]="model.HorizontalArticulationFactor" step="0.1" />
                        </div>
                        <div *ngIf="horizontalArticulationFactor.errors && (horizontalArticulationFactor.dirty || horizontalArticulationFactor.touched) "
                             class="alert alert-danger">
                            <div [hidden]="!horizontalArticulationFactor.errors">
                                The number of Horizontal Articulation Factor  must be between 1 and 2
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Roof Terrace Ratio</label>
                        <div class="input-group">
                            <input name="RoofTerraceRatio" #roofTerraceRatio="ngModel" (change)="calc(formulaForm)" class="form-control" min="0" max="1" type="number" required [(ngModel)]="model.RoofTerraceRatio" step="0.01" />
                        </div>
                        <div *ngIf="roofTerraceRatio.errors && (roofTerraceRatio.dirty || roofTerraceRatio.touched) "
                             class="alert alert-danger">
                            <div [hidden]="!roofTerraceRatio.errors">
                                The number of Horizontal Articulation Factor  must be
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Roof Glazing Ratio</label>
                        <div class="input-group">
                            <input name="RoofGlazingRatio" (change)="calc(formulaForm)" #roofGlazingRatio="ngModel" min="0" max="1" class="form-control" type="number" required [(ngModel)]="model.RoofGlazingRatio" step="0.01" />
                        </div>
                        <div *ngIf="roofGlazingRatio.errors && (roofGlazingRatio.dirty || roofGlazingRatio.touched) "
                             class="alert alert-danger">
                            <div [hidden]="!roofGlazingRatio.errors">
                                The number of Roof Glazing Ratio  must be
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Plumbing</label>
                        <div class="input-group">
                            <select name="plumbing" class="form-control" (change)="calc(formulaForm)" required [(ngModel)]="model.Plumbing">
                                <option *ngFor="let enumValue of plumbings" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>HVAC</label>
                        <div class="input-group">
                            <select name="HVAC" class="form-control" (change)="calc(formulaForm)" required [(ngModel)]="model.HVAC">
                                <option *ngFor="let enumValue of HVACs" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Building plant</label>
                        <div class="input-group">
                            <select name="buildingPlant" class="form-control" (change)="calc(formulaForm)" required [(ngModel)]="model.BuildingPlant">
                                <option *ngFor="let enumValue of buildingPlants" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Electrical</label>
                        <div class="input-group">
                            <select name="electricals" class="form-control" (change)="calc(formulaForm)" required [(ngModel)]="model.Electrical">
                                <option *ngFor="let enumValue of electricals" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Special Construction Allowance </label>
                        <div class="input-group">
                            <input name="SpecialConstructionAllowance" #specialConstructionAllowance="ngModel" class="form-control" (change)="calc(formulaForm)" ng-min="1" type="number" required [(ngModel)]="model.SpecialConstructionAllowance" autofocus />
                        </div>
                        <div *ngIf="specialConstructionAllowance.errors && (specialConstructionAllowance.dirty || specialConstructionAllowance.touched) "
                             class="alert alert-danger">
                            <div [hidden]="!contingenciesDesign.errors">
                                The number of Construction Duration  must be more than 0
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Area of Facility to be Remediated </label>
                        <div class="input-group">
                            <input name="AreaOfFacilityToBeRemediated" #areaOfFacilityToBeRemediated="ngModel" ng-min="1" class="form-control" (change)="calc(formulaForm)" type="number" required [(ngModel)]="model.AreaOfFacilityToBeRemediated" autofocus />
                        </div>
                        <div *ngIf="areaOfFacilityToBeRemediated.errors && (areaOfFacilityToBeRemediated.dirty || areaOfFacilityToBeRemediated.touched) "
                             class="alert alert-danger">
                            <div [hidden]="!areaOfFacilityToBeRemediated.errors">
                                The number of Area of Facility to be Remediated must be more than 0
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Fire Protection</label>
                        <div class="input-group">
                            <select name="fireProtection" class="form-control" (change)="calc(formulaForm)" required [(ngModel)]="model.FireProtection">
                                <option *ngFor="let enumValue of fireProtections" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Facility Remediation</label>
                        <div class="input-group">
                            <select name="facilityRemediation" class="form-control" (change)="calc(formulaForm)" required [(ngModel)]="model.FacilityRemediation">
                                <option *ngFor="let enumValue of facilityRemediation" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <h3>Site Parameters</h3>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Gross Site Area </label>
                        <div class="input-group">
                            <input name="GrossSquareArea" #grossSquareArea="ngModel" (change)="calc(formulaForm)" min="1" class="form-control" type="number" required [(ngModel)]="model.GrossSiteArea" autofocus />
                        </div>
                        <div *ngIf="grossSquareArea.errors && (grossSquareArea.dirty || grossSquareArea.touched)"
                             class="alert alert-danger">
                            <div [hidden]="!grossSquareArea.errors  ">
                                The number of Gross Site Area must be more then 0
                            </div>
                            <div [hidden]="!grossSquareArea.dirty  ">
                                The number of Gross Site Area must be more then 0
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3 col-xs-12">
                        <label>Site Preparation</label>
                        <div class="input-group">
                            <select name="SitePreparation" class="form-control" (change)="calc(formulaForm)" required [(ngModel)]="model.SitePreparation">
                                <option *ngFor="let enumValue of  sitePreparation" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Site Development</label>
                        <div class="input-group">
                            <select name="SiteDevelopment" class="form-control" (change)="calc(formulaForm)" required [(ngModel)]="model.SiteDevelopment">
                                <option *ngFor="let enumValue of  siteDevelopment" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Site Infrastructure - Services</label>
                        <div class="input-group">
                            <select name="SiteInfrastructureServices" class="form-control" (change)="calc(formulaForm)" required [(ngModel)]="model.SiteInfrastructureServices">
                                <option *ngFor="let enumValue of siteInfrastructureServices" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Site Infrastructure – Civil </label>
                        <div class="input-group">
                            <select name="SiteInfrastructureCivil" class="form-control" (change)="calc(formulaForm)" required [(ngModel)]="model.SiteInfrastructureCivil">
                                <option *ngFor="let enumValue of siteInfrastructureCivil" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-5 col-xs-12" style="text-align:left;">
                        <label>Site Services </label>
                        <div class="input-group">
                            <input #SiteServicesSteamCondensatecb type="checkbox" [checked]="model.SiteServicesSteamCondensate" (change)="model.SiteServicesSteamCondensate = SiteServicesSteamCondensatecb.checked;calc(formulaForm);" />Steam and Condensate Return (2 runs)
                        </div>
                        <div class="input-group">
                            <input #SiteServicesHotWatercb type="checkbox" [checked]="model.SiteServicesHotWater" (change)="model.SiteServicesHotWater = SiteServicesHotWatercb.checked;calc(formulaForm);" />Hot Water Supply and Return (2 runs)
                        </div>
                        <div class="input-group">
                            <input #SiteServicesChilledWaterSupplycb type="checkbox" [checked]="model.SiteServicesChilledWaterSupply" (change)="model.SiteServicesChilledWaterSupply = SiteServicesChilledWaterSupplycb.checked;calc(formulaForm);" />Chilled Water Supply and Return (2 runs)
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12" style="text-align:left;">
                        <label>Site Civil  </label>
                        <div class="input-group">
                            <input #SiteCivilWaterFirecb type="checkbox" [checked]="model.SiteCivilWaterFire" (change)="model.SiteCivilWaterFire = SiteCivilWaterFirecb.checked;calc(formulaForm);" />Water / Fire Water
                        </div>
                        <div class="input-group">
                            <input #SiteCivilSanitarySewercb type="checkbox" [checked]="model.SiteCivilSanitarySewer" (change)="model.SiteCivilSanitarySewer = SiteCivilSanitarySewercb.checked;calc(formulaForm);" />Sanitary Sewer
                        </div>
                        <div class="input-group">
                            <input #SiteCivilStormSewercb type="checkbox" [checked]="model.SiteCivilStormSewer" (change)="model.SiteCivilStormSewer = SiteCivilStormSewercb.checked;calc(formulaForm);" />Storm Sewer
                        </div>
                        <div class="input-group">
                            <input #SiteCivilGascb type="checkbox" [checked]="model.SiteCivilGas" (change)="model.SiteCivilGas = SiteCivilGascb.checked;calc(formulaForm);" />Gas
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-xs-12">
                        <label>Site Infrastructure - Electrical  </label>
                        <div class="input-group">
                            <input #chechBoxElement type="checkbox" name="SiteInfrastructureElectrical" [checked]="model.SiteInfrastructureElectrical" (change)="changeValueCheckBox(chechBoxElement);calc(formulaForm);" />Electric Distribution
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3>Program Paramaters</h3>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group col-md-12 col-xs-12">
                        <div class="row">
                            <div class="form-group col-md-8 col-xs-4">
                                <div class="row">
                                    <div class="form-group col-md-12 col-xs-12">
                                        <label>Building Efficiency - {{(100*model.BuildingEfficiency)| number:0}} %</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-2 col-xs-2">
                                        <label> {{(100*minBuildingEfficiency)| number:0}} % </label>
                                    </div>
                                    <div class="form-group col-md-9 col-xs-10">
                                        <div class="input-group fill-width">
                                            <input name="BuildingEfficiency" change="notificationAboutCalculate()" class="form-control range-control" required [(ngModel)]="model.BuildingEfficiency" type="range" min="{{minBuildingEfficiency}}" max="{{maxBuildingEfficiency}}" step="{{stepSize}}" (ngModelChange)="updateBuildingEfficiencyASF()" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 col-xs-2">
                                        <label class="element-right">{{(100*maxBuildingEfficiency)| number:0}} %</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4 col-xs-2">
                                <div class="row">
                                    <div class="form-group col-md-3 col-xs-3">
                                    </div>
                                    <div class="form-group col-md-9 col-xs-8">
                                        <label>ASF</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-3 col-xs-3">
                                    </div>
                                    <div class="form-group col-md-9 col-xs-8">
                                        <div class="input-group">
                                            <input name="buildingEfficiencyASF" (change)="calc(formulaForm);" (ngModelChange)="updateUIAfterChanges()" class="form-control range-control" required [(ngModel)]="buildingEfficiencyASF" type="number" min="0" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12">
                        <div class="row">
                            <label>TOTAL Assignable : {{totalAssignableProgramsASF}} Square Feet</label>
                            <p style="color:#FF0000"><label *ngIf="assignableProgramsStatus">{{assignableProgramsStatus}}</label></p>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12">
                        <program-range *ngIf="viewSettings.AssignableProgram1IsUsing" (change)="notificationAboutCalculate()" [caption]="viewSettings.AssignableProgram1Caption" [programASFValue]="model.AssignableProgram1ASF" (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 1)" [maxValue]="model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet"></program-range>
                        <program-range *ngIf="viewSettings.AssignableProgram2IsUsing" (change)="notificationAboutCalculate()" [caption]="viewSettings.AssignableProgram2Caption" [programASFValue]="model.AssignableProgram2ASF" (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 2)" [maxValue]="model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet"></program-range>
                        <program-range *ngIf="viewSettings.AssignableProgram3IsUsing" (change)="notificationAboutCalculate()" [caption]="viewSettings.AssignableProgram3Caption" [programASFValue]="model.AssignableProgram3ASF" (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 3)" [maxValue]="model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet"></program-range>
                        <program-range *ngIf="viewSettings.AssignableProgram4IsUsing" (change)="notificationAboutCalculate()" [caption]="viewSettings.AssignableProgram4Caption" [programASFValue]="model.AssignableProgram4ASF" (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 4)" [maxValue]="model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet"></program-range>
                        <program-range *ngIf="viewSettings.AssignableProgram5IsUsing" (change)="notificationAboutCalculate()" [caption]="viewSettings.AssignableProgram5Caption" [programASFValue]="model.AssignableProgram5ASF" (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 5)" [maxValue]="model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet"></program-range>
                        <program-range *ngIf="viewSettings.AssignableProgram6IsUsing" (change)="notificationAboutCalculate()" [caption]="viewSettings.AssignableProgram6Caption" [programASFValue]="model.AssignableProgram6ASF" (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 6)" [maxValue]="model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet"></program-range>
                        <program-range *ngIf="viewSettings.AssignableProgram7IsUsing" (change)="notificationAboutCalculate()" [caption]="viewSettings.AssignableProgram7Caption" [programASFValue]="model.AssignableProgram7ASF" (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 7)" [maxValue]="model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet"></program-range>
                        <program-range *ngIf="viewSettings.AssignableProgram8IsUsing" (change)="notificationAboutCalculate()" [caption]="viewSettings.AssignableProgram8Caption" [programASFValue]="model.AssignableProgram8ASF" (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 8)" [maxValue]="model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet"></program-range>
                    </div>
                    <div class="form-group col-md-12 col-xs-12">
                        <div class="row">
                            <label>TOTAL Gross Up: {{totalGrossUpProgramsASF}} Square Feets</label>
                            <p style="color:#FF0000"><label *ngIf="grossUpProgramsStatus">{{grossUpProgramsStatus}}</label></p>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12">
                        <program-range [caption]="viewSettings.GrossUpProgram1Caption" (change)="notificationAboutCalculate()" [programASFValue]="model.GrossUpProgram1ASF" (programASFValueUpdated)="grossUpProgramASFValueUpdated($event, 1)" [maxValue]="1 - model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet"></program-range>
                        <program-range [caption]="viewSettings.GrossUpProgram2Caption" (change)="notificationAboutCalculate()" [programASFValue]="model.GrossUpProgram2ASF" (programASFValueUpdated)="grossUpProgramASFValueUpdated($event, 2)" [maxValue]="1 - model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet"></program-range>
                        <program-range [caption]="viewSettings.GrossUpProgram3Caption" (change)="notificationAboutCalculate()" [programASFValue]="model.GrossUpProgram3ASF" (programASFValueUpdated)="grossUpProgramASFValueUpdated($event, 3)" [maxValue]="1 - model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet"></program-range>
                        <program-range [caption]="viewSettings.GrossUpProgram4Caption" (change)="notificationAboutCalculate()" [programASFValue]="model.GrossUpProgram4ASF" (programASFValueUpdated)="grossUpProgramASFValueUpdated($event, 4)" [maxValue]="1 - model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet"></program-range>

                    </div>

                </div>
                <div class="col-md-12">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                    <hr>
                </div>
            </div>
        </form>
        <div class="col-md-12 text-center">
            <h3>Result</h3>
        </div>
        <div class="col-md-12 resultAllFormulas" *ngIf="isResult && resultView" >
            <div class="col-md-12">
                <div class="col-md-12 marginBottom20px">
                    <h2>A Calculations</h2>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">A10 </span> <span class="valueFormula">{{resultView.A10}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">A20 </span> <span class="valueFormula">{{resultView.A20}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">A40 </span> <span class="valueFormula">{{resultView.A40}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">A60 </span> <span class="valueFormula">{{resultView.A60}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">A90 </span> <span class="valueFormula">{{resultView.A90}}</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-12 marginBottom20px">
                    <h2>B Calculations</h2>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">B10 </span> <span class="valueFormula">{{resultView.B10}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">B20 </span> <span class="valueFormula">{{resultView.B20}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">B30 </span> <span class="valueFormula">{{resultView.B30}}</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-12 marginBottom20px">
                    <h2>C Calculations</h2>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">C10 </span> <span class="valueFormula">{{resultView.C10}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">C10Fitout</span> <span class="valueFormula"> {{resultView.C10Fitout}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">C20 </span> <span class="valueFormula"> {{resultView.C20}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">C20Fitout </span> <span class="valueFormula"> {{resultView.C20Fitout}}</span>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="col-md-12 marginBottom20px">
                    <h2>D Calculations</h2>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">D10 </span> <span class="valueFormula"> {{resultView.D10}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">D20 </span> <span class="valueFormula"> {{resultView.D20}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">D20Fitout </span><span class="valueFormula"> {{resultView.D20Fitout}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">D30 </span><span class="valueFormula"> {{resultView.D30}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">D30Fitout </span><span class="valueFormula"> {{resultView.D20Fitout}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">D40 </span><span class="valueFormula"> {{resultView.D40}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">D40Fitout </span> <span class="valueFormula"> {{resultView.D40Fitout}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">D50 </span> <span class="valueFormula"> {{resultView.D50}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">D50Fitout </span><span class="valueFormula"> {{resultView.D50Fitout}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">D60 </span> <span class="valueFormula"> {{resultView.D60}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">D60Fitout </span> <span class="valueFormula"> {{resultView.D60Fitout}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">D70 </span> <span class="valueFormula"> {{resultView.D70}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">D70Fitout </span> <span class="valueFormula"> {{resultView.D70Fitout}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">D80 </span> <span class="valueFormula"> {{resultView.D80}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">D80Fitout </span> <span class="valueFormula"> {{resultView.D80Fitout}}</span>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="col-md-12 marginBottom20px">
                    <h2>E Calculations</h2>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">E10 </span> <span class="valueFormula"> {{resultView.E10}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">E10Fitout</span> <span class="valueFormula">  {{resultView.E10Fitout}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">E20Fitout </span> <span class="valueFormula">{{resultView.E20Fitout}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">F10 </span> <span class="valueFormula"> {{resultView.F10BC}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">F20 </span> <span class="valueFormula"> {{resultView.F20BC}}</span>
                    </div>
                    <div class="col-md-3 marginBottom10px">
                        <span class="nameFormula">F30 </span> <span class="valueFormula"> {{resultView.F30BC}}</span>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>

            </div>

            <div class="col-md-12 marginBottom20px">
                <h2>BUILDING CONSTRUCTION Calculations</h2>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z910BC </span> <span class="valueFormula"> {{resultView.Z910BC}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z920BC </span> <span class="valueFormula"> {{resultView.Z920BC}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z930BC </span> <span class="valueFormula"> {{resultView.Z930BC}}</span>
                </div>
                <div class="col-md-3 marginBottom10px ">
                    <span class="nameFormula">Z10BC </span> <span class="valueFormula"> {{resultView.Z10BC}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z70BC </span> <span class="valueFormula"> {{resultView.Z70BC}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z940BC </span> <span class="valueFormula"> {{resultView.Z940BC}}</span>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="col-md-12 marginBottom20px">
                <h2>SITE DEVELOPMEMT Calculations</h2>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">G10SD </span> <span class="valueFormula"> {{resultView.G10SD}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">G20SD </span> <span class="valueFormula"> {{resultView.G20SD}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">G60SD </span> <span class="valueFormula"> {{resultView.G60SD}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z10SD </span> <span class="valueFormula"> {{resultView.Z10SD}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z70SD </span> <span class="valueFormula"> {{resultView.Z70SD}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z910SD </span> <span class="valueFormula"> {{resultView.Z910SD}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z920SD </span> <span class="valueFormula"> {{resultView.Z920SD}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z930SD </span> <span class="valueFormula"> {{resultView.Z930SD}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z940SD </span> <span class="valueFormula"> {{resultView.Z940SD}}</span>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="col-md-12 marginBottom20px">
                <h2>SITE UTILITIES</h2>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">G30SU </span> <span class="valueFormula"> {{resultView.G30SU}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">G40SU </span> <span class="valueFormula"> {{resultView.G40SU}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">G50SU </span> <span class="valueFormula"> {{resultView.G50SU}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z10SU </span> <span class="valueFormula"> {{resultView.Z10SU}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z70SU </span> <span class="valueFormula"> {{resultView.Z70SU}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z910SU </span> <span class="valueFormula"> {{resultView.Z910SU}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z920SU </span> <span class="valueFormula"> {{resultView.Z920SU}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z930SU </span> <span class="valueFormula"> {{resultView.Z930SU}}</span>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <span class="nameFormula">Z940SU </span> <span class="valueFormula"> {{resultView.Z940SU}}</span>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>

            </div>
            <div class="col-md-12" *ngIf="resultView">
                <h2>TOTAL</h2>
                <div class="col-md-3 marginBottom10px">
                    <ul>
                        <li *ngIf="resultView.BuildingConstuctionSum"><span class="nameFormula"> Building Construction Cost Total </span> <span class="valueFormula"> {{resultView.BuildingConstuctionSum}}</span></li>
                    </ul>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <ul>
                        <li *ngIf="resultView.SiteDevelopmentSum || resultView.SiteDevelopmentSum"><span class="nameFormula">Site Construction Cost Total </span> <span class="valueFormula"> {{resultView.SiteDevelopmentSum + resultView.SiteDevelopmentSum}}</span></li>
                    </ul>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <ul>
                        <li *ngIf="resultView.TotalConstructionCosts"><span class="nameFormula">TotalConstructionCosts</span> <span class="valueFormula"> {{resultView.TotalConstructionCosts}}</span></li>
                    </ul>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <ul>
                        <li *ngIf="resultView.SoftCosts"><span class="nameFormula">SoftCosts </span><span class="valueFormula"> {{resultView.SoftCosts}}</span></li>
                    </ul>
                </div>
                <div class="col-md-3 marginBottom10px">
                    <ul>
                        <li *ngIf="resultView.TotalProjectCosts"><span class="nameFormula">TotalProjectCosts </span> <span class="valueFormula"> {{resultView.TotalProjectCosts}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

