﻿
<!-- INNER BANER -->
<section class="innerBanner">
        <h3>Edit Baseline Variables</h3>
        <div class="overLay"></div>
        <img src="/Images/inr-banner.png" class="img-responsive">
    </section>
    <!-- INNER BANER -->
<div class="container">        
    <div class="row">
        <div class="col-md-12">
            <label></label>
        </div>
        <div><h3>Baseline Variables for type:</h3></div>
        <div class="form-group col-md-12 col-xs-12">
            <div class="row">
                <label>Calculation Type</label>
                <div class="input-group">
                    <select name="calculationTypes" class="form-control" [(ngModel)]="calculationType" (ngModelChange)="onCalculationTypeChange($event)">
                        <option *ngFor="let enumValue of calculationTypes" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <table class="table table-striped table-bordered variables-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th><div style="min-width: 100px;"></div>Value</th>
                        <th>Action</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tr *ngFor="let variable of result.BaselineVariables">
                    <td class="variable-name">{{variable.Name}}</td>
                    <td><input [(ngModel)]="variable.Value" class="form-control" /></td>
                    <td><button (click)="update(variable)" class="btn btn-primary" >Update</button></td>
                    <td><label>{{variable.status}}</label></td>                    
                </tr>
            </table>
        </div>
    </div>
</div>
