﻿<div>
    <h2>G30 calculation</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="depositForm" class="form-horizontal container-fluid" (ngSubmit)="calc()">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Gross Site Area </label>
                            <div class="input-group">
                                <input name="GrossSquareArea" class="form-control" type="number" required [(ngModel)]="model.GrossSiteArea" autofocus />
                            </div>
                        </div>
                                      
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Building Footprint</label>
                            <div class="input-group">
                                <input name="BuildingFootprint" class="form-control" type="number" required [(ngModel)]="model.BuildingFootprint" autofocus />
                            </div>                            
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Location Factor</label>
                            <div class="input-group">
                                <select name="locationFactors" class="form-control" [(ngModel)]="model.LocationFactor">
                                    <option *ngFor="let enumValue of locationFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Project Delivery Strategy Factor</label>
                            <div class="input-group">
                                <select name="projectDeliveryStrategyFactors" class="form-control" [(ngModel)]="model.ProjectDeliveryStrategyFactor">
                                    <option *ngFor="let enumValue of projectDeliveryStrategyFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>        
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Site Infrastructure - Services</label>
                            <div class="input-group">
                                <select name="SiteInfrastructureServices" class="form-control" [(ngModel)]="model.SiteInfrastructureServices">
                                    <option *ngFor="let enumValue of siteInfrastructureServices" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>  
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Site Services </label>
                            <div class="input-group">
                                <input #SiteServicesSteamCondensatecb type="checkbox" (change)="model.SiteServicesSteamCondensate = SiteServicesSteamCondensatecb.checked" />Steam and Condensate Return (2 runs)	
                            </div>
                            <div class="input-group">
                                <input #SiteServicesHotWatercb type="checkbox" (change)="model.SiteServicesHotWater = SiteServicesHotWatercb.checked" />Hot Water Supply and Return (2 runs)	
                            </div>                         
                            <div class="input-group">
                                <input #SiteServicesChilledWaterSupplycb type="checkbox" (change)="model.SiteServicesChilledWaterSupply = SiteServicesChilledWaterSupplycb.checked" />Chilled Water Supply and Return (2 runs)
                            </div>
                        </div> 
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Building Plant </label>
                            <div class="input-group">
                                <select name="BuildingPlant" class="form-control" [(ngModel)]="model.BuildingPlant">
                                    <option *ngFor="let enumValue of buildingPlant" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div> 
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Site Infrastructure – Civil </label>
                            <div class="input-group">
                                <select name="SiteInfrastructureCivil" class="form-control" [(ngModel)]="model.SiteInfrastructureCivil">
                                    <option *ngFor="let enumValue of siteInfrastructureCivil" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>  
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Site Civil  </label>
                            <div class="input-group">
                                <input #SiteCivilWaterFirecb type="checkbox" (change)="model.SiteCivilWaterFire = SiteCivilWaterFirecb.checked" />Water / Fire Water
                            </div>
                            <div class="input-group">
                                <input #SiteCivilSanitarySewercb type="checkbox" (change)="model.SiteCivilSanitarySewer = SiteCivilSanitarySewercb.checked" />Sanitary Sewer	
                            </div>
                            <div class="input-group">
                                <input #SiteCivilStormSewercb type="checkbox" (change)="model.SiteCivilStormSewer = SiteCivilStormSewercb.checked" />Storm Sewer
                            </div>
                            <div class="input-group">
                                <input #SiteCivilGascb type="checkbox" (change)="model.SiteCivilGas = SiteCivilGascb.checked" />Gas
                            </div>
                        </div>      
                        
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </div>
            </form>
        </div>
        <div>
            <label>{{status}}</label>
        </div>
        <div class="col-md-12">
            <label></label>
        </div>
        <div><h3>Baseline Variables</h3></div>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tr *ngFor="let variables of result.BaselineVariables">
                    <td>{{variables.Name}}</td>
                    <td>{{variables.Value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
