﻿<div>
    <h2>G50 calculation</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="depositForm" class="form-horizontal container-fluid" (ngSubmit)="calc()">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Gross Site Area </label>
                            <div class="input-group">
                                <input name="GrossSquareArea" class="form-control" type="number" required [(ngModel)]="model.GrossSiteArea" autofocus />
                            </div>
                        </div>
                                      
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Building Footprint</label>
                            <div class="input-group">
                                <input name="BuildingFootprint" class="form-control" type="number" required [(ngModel)]="model.BuildingFootprint" autofocus />
                            </div>                            
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Location Factor</label>
                            <div class="input-group">
                                <select name="locationFactors" class="form-control" [(ngModel)]="model.LocationFactor">
                                    <option *ngFor="let enumValue of locationFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Project Delivery Strategy Factor</label>
                            <div class="input-group">
                                <select name="projectDeliveryStrategyFactors" class="form-control" [(ngModel)]="model.ProjectDeliveryStrategyFactor">
                                    <option *ngFor="let enumValue of projectDeliveryStrategyFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>        
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Site Infrastructure - Services</label>
                            <div class="input-group">
                                <select name="SiteInfrastructureServices" class="form-control" [(ngModel)]="model.SiteInfrastructureServices">
                                    <option *ngFor="let enumValue of siteInfrastructureServices" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>  
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Site Infrastructure - Electrical </label>
                            <div class="input-group">
                                <input #chechBoxElement type="checkbox" name="SiteInfrastructureElectrical" [checked]="model.SiteInfrastructureElectrical" (change)="changeValueCheckBox(chechBoxElement)" />Communications
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </div>
            </form>
        </div>
        <div>
            <label>{{status}}</label>
        </div>
        <div class="col-md-12">
            <label></label>
        </div>
        <div><h3>Baseline Variables</h3></div>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tr *ngFor="let variables of result.BaselineVariables">
                    <td>{{variables.Name}}</td>
                    <td>{{variables.Value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
