﻿<div>
    <h2>Soft Costs calculation</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="depositForm" class="form-horizontal container-fluid" (ngSubmit)="calc()">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group col-md-12 col-xs-12">
                            <div class="form-group col-md-12 col-xs-12">
                                <label>Total Construction Costs $/GSF </label>
                                <div class="input-group">
                                    <input name="TotalConstructionCosts" class="form-control" type="number" step="0.01" required [(ngModel)]="model.TotalConstructionCosts" autofocus />
                                </div>
                            </div> 
                            <label>Design Fees  - {{(100*model.DesignFee)| number:0}} %</label>
                            <div class="input-group">
                                <label class="element-left"> {{(100*minDesignFee)| number:0}} %</label> - 
                                <input name="DesignFee" class="form-control range-control" required [(ngModel)]="model.DesignFee" type="range" min="{{minDesignFee}}" max="{{maxDesignFee}}" step="{{stepSize}}"  />
                                <label class="element-right">{{(100*maxDesignFee)| number:0}} %</label>
                            </div>
                        </div>   
                        <div class="form-group col-md-12 col-xs-12">
                            <label>FFE - {{(100*model.FFE)| number:0}} %</label>
                            <div class="input-group">
                                <label class="element-left"> {{(100*minFFE)| number:0}} %</label> -
                                <input name="FFE" class="form-control range-control" required [(ngModel)]="model.FFE" type="range" min="{{minFFE}}" max="{{maxFFE}}" step="{{stepSize}}" />
                                <label class="element-right">{{(100*maxFFE)| number:0}} %</label>
                            </div>
                        </div>  
                        <div class="form-group col-md-12 col-xs-12">
                            <label>AV / Technology  - {{(100*model.Technology)| number:0}} %</label>
                            <div class="input-group">
                                <label class="element-left"> {{(100*minTechnology)| number:0}} %</label> -
                                <input name="Technology" class="form-control range-control" required [(ngModel)]="model.Technology" type="range" min="{{minTechnology}}" max="{{maxTechnology}}" step="{{stepSize}}" />
                                <label class="element-right">{{(100*maxTechnology)| number:0}} %</label>
                            </div>
                        </div>  
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Contingency - {{(100*model.Contingency)| number:0}} %</label>
                            <div class="input-group">
                                <label class="element-left"> {{(100*minContingency)| number:0}} %</label> -
                                <input name="Contingency" class="form-control range-control" required [(ngModel)]="model.Contingency" type="range" min="{{minContingency}}" max="{{maxContingency}}" step="{{stepSize}}" />
                                <label class="element-right">{{(100*maxContingency)| number:0}} %</label>
                            </div>
                        </div>  
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Misc - {{(100*model.Misc)| number:0}} %</label>
                            <div class="input-group">
                                <label class="element-left"> {{(100*minMisc)| number:0}} %</label> -
                                <input name="Misc" class="form-control range-control" required [(ngModel)]="model.Misc" type="range" min="{{minMisc}}" max="{{maxMisc}}" step="{{stepSize}}" />
                                <label class="element-right">{{(100*maxMisc)| number:0}} %</label>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </div>
            </form>
        </div>
        <div>
            <label>{{status}}</label>
        </div>
        <div class="col-md-12">
            <label></label>
        </div>
        <div><h3>Baseline Variables</h3></div>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tr *ngFor="let variables of result.BaselineVariables">
                    <td>{{variables.Name}}</td>
                    <td>{{variables.Value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
