﻿<div>
    <h2>Z910 calculation</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="depositForm" class="form-horizontal container-fluid" (ngSubmit)="calc()">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Contingencies</label>
                            <div class="input-group">
                                <input name="Contingencies Design" class="form-control" type="number" step="0.01" required [(ngModel)]="model.ContingenciesDesign" autofocus />
                            </div>
                        </div> 
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Sum (A10 $/GSF +……+ F30 $/GSF) </label>
                            <div class="input-group">
                                <input name="A10F30Sum" class="form-control" type="number"step="0.01"  required [(ngModel)]="model.A10F30Sum" autofocus />
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </div>
            </form>
        </div>
        <div>
            <label>{{status}}</label>
        </div>
        <div class="col-md-12">
            <label></label>
        </div>
        <div><h3>Baseline Variables</h3></div>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tr *ngFor="let variables of result.BaselineVariables">
                    <td>{{variables.Name}}</td>
                    <td>{{variables.Value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
