﻿<div>
    <h2>Z920 Site Utilities calculation</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="depositForm" class="form-horizontal container-fluid" (ngSubmit)="calc()">
                <div class="row">    
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Estimate to</label>
                            <div class="input-group">
                                <select name="escalateToValues" class="form-control" [(ngModel)]="model.EscalateTo">
                                    <option *ngFor="let enumValue of escalateToValues" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <div class="input-group">
                                <label>Estimate Date </label>
                                <my-date-picker name="EstimateDate" [options]="myDatePickerOptions" (dateChanged)="onEstimateDateChanged($event)"
                                                [(ngModel)]="model.EstimateDate"></my-date-picker>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <div class="input-group">
                                <label>Construction Start Date </label>
                                <my-date-picker name="ConstructionStartDate" [options]="myDatePickerOptions" (dateChanged)="onConstructionStartDateChanged($event)"
                                                [(ngModel)]="model.ConstructionStartDate"></my-date-picker>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <div class="input-group">
                                <label>Construction Duration</label>
                                <input name="DurationInMonths" class="form-control" type="number" step="0.01" required [(ngModel)]="model.DurationInMonths" autofocus />
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <div class="input-group">
                                <label>Sum (G30 $/DSA + G40 $/DSA + G50 $/DSA) </label>
                                <input name="G30G50SUSum" class="form-control" type="number" step="0.01" required [(ngModel)]="model.G30G50SUSum" autofocus />
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <div class="input-group">
                                <label>Z910</label>
                                <input name="Z910" class="form-control" type="number" step="0.01" required [(ngModel)]="model.Z910SU" autofocus />
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </div>
            </form>
        </div>
        <div>
            <label>{{status}}</label>
        </div>
        <div class="col-md-12">
            <label></label>
        </div>
        <div><h3>Baseline Variables</h3></div>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tr *ngFor="let variables of result.BaselineVariables">
                    <td>{{variables.Name}}</td>
                    <td>{{variables.Value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
