﻿<div>
    <h2>Z930 Site Utilities calculation</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="depositForm" class="form-horizontal container-fluid" (ngSubmit)="calc()">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Building Type</label>
                            <div class="input-group">
                                <select name="buildingTypes" class="form-control" [(ngModel)]="model.BuildingType">
                                    <option *ngFor="let enumValue of buildingTypes" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Project Delivery Strategy Factor</label>
                            <div class="input-group">
                                <select name="projectDeliveryStrategyFactors" class="form-control" [(ngModel)]="model.ProjectDeliveryStrategyFactor">
                                    <option *ngFor="let enumValue of projectDeliveryStrategyFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div> 
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Sum (G30 $/DSA + G40 $/DSA + G50 $/DSA)  </label>
                            <div class="input-group">
                                <input name="G30G50SUSum" class="form-control" type="number"step="0.01"  required [(ngModel)]="model.G30G50SUSum" autofocus />
                            </div>
                        </div>  
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Z910 </label>
                            <div class="input-group">
                                <input name="Z910" class="form-control" type="number" step="0.01" required [(ngModel)]="model.Z910SU" autofocus />
                            </div>
                        </div> 
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Z920  </label>
                            <div class="input-group">
                                <input name="Z920" class="form-control" type="number" step="0.01" required [(ngModel)]="model.Z920SU" autofocus />
                            </div>
                        </div>                       

                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </div>
            </form>
        </div>
        <div>
            <label>{{status}}</label>
        </div>
        <div class="col-md-12">
            <label></label>
        </div>
        <div><h3>Baseline Variables</h3></div>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tr *ngFor="let variables of result.BaselineVariables">
                    <td>{{variables.Name}}</td>
                    <td>{{variables.Value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
