﻿<div>
    <h2>Z940 Site Development calculation</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="depositForm" class="form-horizontal container-fluid" (ngSubmit)="calc()">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Building Type</label>
                            <div class="input-group">
                                <select name="buildingTypes" class="form-control" [(ngModel)]="model.BuildingType">
                                    <option *ngFor="let enumValue of buildingTypes" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Project Delivery Strategy Factor</label>
                            <div class="input-group">
                                <select name="projectDeliveryStrategyFactors" class="form-control" [(ngModel)]="model.ProjectDeliveryStrategyFactor">
                                    <option *ngFor="let enumValue of projectDeliveryStrategyFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div> 
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Sum (G10 $/DSA + G20 $/DSA + G60 $/DSA) </label>
                            <div class="input-group">
                                <input name="G10G60Sum" class="form-control" type="number"step="0.01"  required [(ngModel)]="model.G10G60Sum" autofocus />
                            </div>
                        </div>  
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Z910 </label>
                            <div class="input-group">
                                <input name="Z910" class="form-control" type="number" step="0.01" required [(ngModel)]="model.Z910SD" autofocus />
                            </div>
                        </div> 
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Z920  </label>
                            <div class="input-group">
                                <input name="Z920" class="form-control" type="number" step="0.01" required [(ngModel)]="model.Z920SD" autofocus />
                            </div>
                        </div>      
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Z930  </label>
                            <div class="input-group">
                                <input name="Z930" class="form-control" type="number" step="0.01" required [(ngModel)]="model.Z930SD" autofocus />
                            </div>
                        </div>   
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Z10  </label>
                            <div class="input-group">
                                <input name="Z10" class="form-control" type="number" step="0.01" required [(ngModel)]="model.Z10SD" autofocus />
                            </div>
                        </div>   
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Z70  </label>
                            <div class="input-group">
                                <input name="Z70" class="form-control" type="number" step="0.01" required [(ngModel)]="model.Z70SD" autofocus />
                            </div>
                        </div>   

                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </div>
            </form>
        </div>
        <div>
            <label>{{status}}</label>
        </div>
        <div class="col-md-12">
            <label></label>
        </div>
        <div><h3>Baseline Variables</h3></div>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tr *ngFor="let variables of result.BaselineVariables">
                    <td>{{variables.Name}}</td>
                    <td>{{variables.Value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
