﻿@model IEnumerable<Application.ViewModel.UserView>
@{
    ViewBag.Title = "All Users";
}


<!DOCTYPE html>
<html>
<head>
    <title>Protea Intelligence</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../styles.css">
    <!-- Polyfill(s) for older browsers -->

    <base href="/Manage/GetAllUser/">
</head>
<body>
    <manage-user>Loading Project content here ...</manage-user>
    <script type="text/javascript" src="/dist/inline.bundle.js"></script>
    <script type="text/javascript" src="/dist/polyfills.bundle.js">
    </script>
    <script type="text/javascript" src="/dist/vendor.bundle.js"></script>
    <!-- USE WITH build_prod command in packaje.json !!!
    <script type="text/javascript" src="/dist/vendor.bundle.min.js"></script>
    -->
    <script type="text/javascript" src="/dist/main.bundle.js"></script>
</body>
</html>
