﻿<div *ngIf="isLoad"><nav-menu *ngIf="userInfo.Username" [userInfo]="userInfo"></nav-menu>
<simple-notifications [options]="options"></simple-notifications>
<router-outlet ></router-outlet>
<footer-component></footer-component>
</div>