﻿<!-- INNER BANER -->
<section class="innerBanner">
    <h3>Current errors</h3>
    <div class="overLay"></div>
    <img src="/Images/inr-banner.png" class="img-responsive">
</section>
<!-- INNER BANER -->


<div class="container">
    <div class="col-md-12 errorTable">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3"><span class="headerSpan">Date</span></div>
            <div class="col-md-3"><span class="headerSpan">Action</span></div>
            <div class="col-md-5"><span class="headerSpan">Message</span></div>
        </div>
        <div class="row errorTableRow" *ngFor="let item of errorList;let i = index">
            <div class="col-md-1 errorTableCol"><span *ngIf="item.inners && item.inners.length > 0" class="glyphicon glyphicon-plus" (click)="showInner(i)"></span></div>
            <div class="col-md-3 errorTableCol">{{item.date}}</div>
            <div class="col-md-3 errorTableCol">{{item.action}}</div>
            <div class="col-md-5 errorTableCol">{{item.message}}</div>
            <div class="col-md-12" *ngIf="item.inners" [hidden]="i!=indexSubError">
                <div class="col-md-12" *ngFor="let inner of item.inners" style="margin:10px;">
                    <div class="col-md-1 errorTableCol"></div>
                    <div class="col-md-3 errorTableCol"></div>
                    <div class="col-md-3 errorTableCol"></div>
                    <div class="col-md-5 errorTableCol">{{inner.message}}</div>
                </div>
            </div>
        </div>
    </div>
</div>