﻿<!-- INNER BANER -->
<section class="innerBanner">
    <h3>Formulas Calculation</h3>
    <div class="overLay"></div>
    <img src="/Images/inr-banner.png" class="img-responsive">
</section>
<!-- INNER BANER -->
<div class="container formulacalContainer">
    <div class="col-md-12">
        <div class='col-md-4 complexpagebtn'>
            <button (click)="Show(1)" class="btn btn-primary">Baseline Variables</button>
        </div>
    </div>
    <div class="col-md-12" style="margin-top:20px;">
        <div class="dropdown col-md-4">
            <button class="btn btn-primary">A-B-C Calculations</button>
            <ul class="dropdown-content">
                <li><a routerLink="/a10Calculation">A-10 calculation</a></li>
                <li><span (click)="Show(4)">A-20 calculation</span></li>
                <li><span (click)="Show(5)">A-40 calculation</span></li>
                <li><span (click)="Show(62)">A-60 calculation</span></li>
                <li><span (click)="Show(6)">A-90 calculation</span></li>
                <li><span (click)="Show(7)">B-10 calculation</span></li>
                <li><span (click)="Show(8)">B-20 calculation</span></li>
                <li><span (click)="Show(9)">B-30 calculation</span></li>
                <li><span (click)="Show(10)">C-10 calculation</span></li>
                <li><span (click)="Show(11)">C-10 Fitout calculation</span></li>
                <li><span (click)="Show(12)">C-20 calculation</span></li>
                <li><span (click)="Show(13)">C-20 Fitout calculation</span></li>
            </ul>
        </div>
        <div class="dropdown col-md-4">
            <button class="btn btn-primary">D-E Calculations</button>
            <ul class="dropdown-content">
                <li><span (click)="Show(14)">D-10 calculation</span></li>
                <li><span (click)="Show(15)">D-20 calculation</span></li>
                <li><span (click)="Show(16)">D-20 Fitout calculation</span></li>
                <li><span (click)="Show(17)">D-30 calculation</span></li>
                <li><span (click)="Show(18)">D-30 Fitout calculation</span></li>
                <li><span (click)="Show(19)">D-40 calculation</span></li>
                <li><span (click)="Show(20)">D-40 Fitout calculation</span></li>
                <li><span (click)="Show(21)">D-50 calculation</span></li>
                <li><span (click)="Show(22)">D-50 Fitout calculation</span></li>
                <li><span (click)="Show(23)">D-60 calculation</span></li>
                <li><span (click)="Show(24)">D-60 Fitout calculation</span></li>
                <li><span (click)="Show(25)">D-70 calculation</span></li>
                <li><span (click)="Show(26)">D-70 Fitout calculation</span></li>
                <li><span (click)="Show(27)">D-80 calculation</span></li>
                <li><span (click)="Show(28)">D-80 Fitout calculation</span></li>
                <li><span (click)="Show(29)">E-10 calculation</span></li>
                <li><span (click)="Show(30)">E-10 Fitout calculation</span></li>
                <li><span (click)="Show(31)">E-20 calculation</span></li>
                <li><span (click)="Show(32)">E-20 Fitout calculation</span></li>
            </ul>
        </div>
        <div class="dropdown col-md-4">
            <button class="btn btn-primary">BUILDING CONSTRUCTION Calculations</button>
            <ul class="dropdown-content">
                <li><span  (click)="Show(33)">F-10 calculation</span></li>
                <li><span  (click)="Show(34)">F-20 calculation</span></li>
                <li><span  (click)="Show(35)">F-30 calculation</span></li>
                <li><span  (click)="Show(36)">Z-10 calculation</span></li>
                <li><span  (click)="Show(37)">Z-70 calculation</span></li>
                <li><span  (click)="Show(38)">Z-910 calculation</span></li>
                <li><span  (click)="Show(39)">Z-920 calculation</span></li>
                <li><span  (click)="Show(40)">Z-930 calculation</span></li>
                <li><span  (click)="Show(41)">Z-940 calculation</span></li>
            </ul>
        </div>
        <div class="dropdown col-md-4">
            <button class="btn btn-primary">SITE DEVELOPMENT Calculations</button>
            <ul class="dropdown-content">
                <li><span (click)="Show(42)">G-10 calculation</span></li>
                <li><span (click)="Show(43)">G-20 calculation</span></li>
                <li><span (click)="Show(44)">G-60 calculation</span></li>
                <li><span (click)="Show(45)">Z-10 calculation</span></li>
                <li><span (click)="Show(46)">Z-70 calculation</span></li>
                <li><span (click)="Show(47)">Z-910 calculation</span></li>
                <li><span (click)="Show(48)">Z-920 calculation</span></li>
                <li><span (click)="Show(49)">Z-930 calculation</span></li>
                <li><span (click)="Show(50)">Z-940 calculation</span></li>

            </ul>
        </div>
        <div class="dropdown col-md-4">
            <button class="btn btn-primary">SITE UTILITIES Calculations</button>
            <ul class="dropdown-content">
                <li><span (click)="Show(51)">G-30 calculation</span></li>
                <li><span (click)="Show(52)">G-40 calculation</span></li>
                <li><span (click)="Show(53)">G-50 calculation</span></li>
                <li><span (click)="Show(54)">Z-10 calculation</span></li>
                <li><span (click)="Show(55)">Z-70 calculation</span></li>
                <li><span (click)="Show(56)">Z-910 calculation</span></li>
                <li><span (click)="Show(57)">Z-920 calculation</span></li>
                <li><span (click)="Show(58)">Z-930 calculation</span></li>
                <li><span (click)="Show(59)">Z-940 calculation</span></li>
            </ul>
        </div>
        <div class="dropdown col-md-4">
            <button class="btn btn-primary">TOTAL PROJECT COSTS</button>
            <ul class="dropdown-content">
                <li><span (click)="Show(60)">Soft Costs</span></li>
                <li><span (click)="Show(61)">Total Project Costs</span></li>
            </ul>
        </div>
    </div>
    <div class="col-md-12"  style="margin-top:20px;">   
            <editBaselineVariables (click)="goToBaseLine()" *ngIf="1==indexComponent"></editBaselineVariables>
            <complex-page *ngIf="2==indexComponent"></complex-page>
            <a10Calulation *ngIf="3==indexComponent"></a10Calulation>
            <a20Calulation *ngIf="4==indexComponent"></a20Calulation>
            <a40Calulation *ngIf="5==indexComponent"></a40Calulation>
            <a90Calulation *ngIf="6==indexComponent"></a90Calulation>
            <b10Calulation *ngIf="7==indexComponent"></b10Calulation>
            <b20Calulation *ngIf="8==indexComponent"></b20Calulation>
            <b30Calulation *ngIf="9==indexComponent"></b30Calulation>
            <c10Calulation *ngIf="10==indexComponent"></c10Calulation>
            <c10FitoutCalulation *ngIf="11==indexComponent"></c10FitoutCalulation>
            <c20Calulation *ngIf="12==indexComponent"></c20Calulation>
            <c20FitoutCalulation *ngIf="13==indexComponent"></c20FitoutCalulation>
            <d10Calulation *ngIf="14==indexComponent"></d10Calulation>
            <d20Calulation *ngIf="15==indexComponent"></d20Calulation>
            <d20FitoutCalulation *ngIf="16==indexComponent"></d20FitoutCalulation>
            <d30Calulation *ngIf="17==indexComponent"></d30Calulation>
            <d30FitoutCalulation *ngIf="18==indexComponent"></d30FitoutCalulation>
            <d40Calulation *ngIf="19==indexComponent"></d40Calulation>
            <d40FitoutCalulation *ngIf="20==indexComponent"></d40FitoutCalulation>
            <d50Calulation *ngIf="21==indexComponent"></d50Calulation>
            <d50FitoutCalulation *ngIf="22==indexComponent"></d50FitoutCalulation>
            <d60Calulation *ngIf="23==indexComponent"></d60Calulation>
            <d60FitoutCalulation *ngIf="24==indexComponent"></d60FitoutCalulation>
            <d70Calulation *ngIf="25==indexComponent"></d70Calulation>
            <d70FitoutCalulation *ngIf="26==indexComponent"></d70FitoutCalulation>
            <d80Calulation *ngIf="27==indexComponent"></d80Calulation>
            <d80FitoutCalulation *ngIf="28==indexComponent"></d80FitoutCalulation>
            <e10Calulation *ngIf="29==indexComponent"></e10Calulation>
            <e10FitoutCalulation *ngIf="30==indexComponent"></e10FitoutCalulation>
            <e20Calulation *ngIf="31==indexComponent"></e20Calulation>
            <e20FitoutCalulation *ngIf="32==indexComponent"></e20FitoutCalulation>
            <f10Calulation *ngIf="33==indexComponent"></f10Calulation>
            <f20Calulation *ngIf="34==indexComponent"></f20Calulation>
            <f30Calulation *ngIf="35==indexComponent"></f30Calulation>
            <z10BCCalulation *ngIf="36==indexComponent"></z10BCCalulation>
            <z70BCCalulation *ngIf="37==indexComponent"></z70BCCalulation>
            <z910BCCalulation *ngIf="38==indexComponent"></z910BCCalulation>
            <z920BCCalulation *ngIf="39==indexComponent"></z920BCCalulation>
            <z930BCCalulation *ngIf="40==indexComponent"></z930BCCalulation>
            <z940BCCalulation *ngIf="41==indexComponent"></z940BCCalulation>
            <g10SDCalulation *ngIf="42==indexComponent"></g10SDCalulation>
            <g20SDCalulation *ngIf="43==indexComponent"></g20SDCalulation>
            <g60SDCalulation *ngIf="44==indexComponent"></g60SDCalulation>
            <z10SDCalulation *ngIf="45==indexComponent"></z10SDCalulation>
            <z70SDCalulation *ngIf="46==indexComponent"></z70SDCalulation>
            <z910SDCalulation *ngIf="47==indexComponent"></z910SDCalulation>
            <z920SDCalulation *ngIf="48==indexComponent"></z920SDCalulation>
            <z930SDCalulation *ngIf="49==indexComponent"></z930SDCalulation>
            <z940SDCalulation *ngIf="50==indexComponent"></z940SDCalulation>
            <g30SUCalulation *ngIf="51==indexComponent"></g30SUCalulation>
            <g40SUCalulation *ngIf="52==indexComponent"></g40SUCalulation>
            <g50SUCalulation *ngIf="53==indexComponent"></g50SUCalulation>
            <z10SUCalulation *ngIf="54==indexComponent"></z10SUCalulation>
            <z70SUCalulation *ngIf="55==indexComponent"></z70SUCalulation>
            <z910SUCalulation *ngIf="56==indexComponent"></z910SUCalulation>
            <z920SUCalulation *ngIf="57==indexComponent"></z920SUCalulation>
            <z930SUCalulation *ngIf="58==indexComponent"></z930SUCalulation>
            <z940SUCalulation *ngIf="59==indexComponent"></z940SUCalulation>
            <softCostCalulation *ngIf="60==indexComponent"></softCostCalulation>
            <totalProjectCalulation *ngIf="61==indexComponent"></totalProjectCalulation>
            <a60Calulation *ngIf="62==indexComponent"></a60Calulation>
          
    </div>
</div>
