<div class="rangBarBox {{className}}" *ngIf="Id">
    <label>{{label}} - {{(100*model)| number:0}}%</label>
    <div class="minValu">{{(100*min)| number:0}}</div>
    <input  id="{{Id}}" name="{{label}}" min="{{min}}" max="{{max}}" step="{{step}}" [value]="model" data-rangeslider=""   type="range">                            
    <div class="maxValu">{{(100*max)| number:0}}</div>   
    <input *ngIf="isASF" type="number" [(ngModel)]="programASFValue" (ngModelChange)="updateProgramASFValue($event)" class="inputRange">                        
</div>