﻿
<table class="table table-striped" [mfData]="errorList" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
    <thead>
        <tr> 
            <th style="width:10%">               
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="Email">Date</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                Action
            </th>
            <th style="width: 50%">
                Error Message
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of mf.data"> 
            <td><span class="glyphicon glyphicon-plus" (click)="showInner()"></span>
                <table *ngIf="item.inners" class="table table-striped">   
                    <tr *ngFor="let inner of item.inners">
                        <td>{{inner.action}}</td>
                        <td>{{inner.message}}</td>
                    </tr>
                </table>
            </td>
            <td>{{item.date}}</td>
            <td>{{item.action}}</td>                 
            <td>{{item.message}}</td> 

            
        </tr>
    </tbody>            
</table>      
<!--<ul>
    <li *ngFor="let dir of errorList">      
       
        <div *ngIf="item.exeption.InnerException">
            <span class="glyphicon glyphicon-plus" (click)="showInner()"></span>
            <ul>
                <li *ngFor="let file of dir.files">{{file}}</li>
            </ul>
            <tree-view [directories]="dir.directories"></tree-view>
        </div>
    </li>
</ul>-->