<section class="innerBanner">
    <h3 class="university">Protea for University Client</h3>
    <p>Select "Project" drop down menu to start a new project or open an existing project</p>
    <div class="overLay"></div>
    <img src="/Images/slider.png" class="img-responsive fullSize">
</section>



