﻿<!-- INNER BANER -->
<section class="innerBanner">
        <h3>Users</h3>
        <div class="overLay"></div>
        <img src="/Images/inr-banner.png" class="img-responsive">
    </section>
<!-- INNER BANER -->


<section class="userTbl sectBg">
	<div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="pull-right">
                    <a (click)="GoToAddUser()" style="font-size:20px;">
                        <i class="indicator fa fa-plus-circle  pull-left" style="line-height: 1.5;"></i> Add User
                    </a>
                </div>
                <table class="table table userList " [mfData]="usersList" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
                    <thead>
                        <tr>                  
                            <th style="width:10%">
                                No.
                            </th>
                            <th style="width: 50%">
                                <mfDefaultSorter by="Email">Name</mfDefaultSorter>                               
                            </th>
                            <th style="width: 15%">
                                Block
                            </th>
                            <th style="width: 25%;text-align:center;">
                               Edit
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data | paginate: { itemsPerPage: 10, currentPage: pagination }; let i = index"> 
                            <td>{{i + 1}}</td>                 
                            <td>{{item.Email}}</td>      
                            <td><input #chechBoxElement type="checkbox" name="BlockStatus" [checked]="item.Status" (change)="changeBlockStatus(chechBoxElement,item.Id)" /></td>                                
                            <td>                                
                                <a (click)="GoToEditUser(item.Id)" >
                                    <img style="display:block;margin:0 auto" src="/Images/edit.png">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>       
            </div>           
        </div>
    </div>
</section>