﻿
<!-- INNER BANER -->
<section class="innerBanner">
        <h3>{{label}}</h3>
        <div class="overLay"></div>
        <img src="/Images/inr-banner.png" class="img-responsive">
    </section>
<!-- INNER BANER -->

<section class="sectBg userTbl">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <p (click)="returnToList()"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Return to Users list</p>
        </div>
        <div class="row">
            <div class="projForm">
                <form name="UserForm" class="form-horizontal container-fluid" (ngSubmit)="update()">
                    <div class="col-md-4 col-md-offset-4 userInputs">
                        <label>Username</label>
                        <input name="Username" class="form-control input" placeholder="Please entry username" type="text" required [(ngModel)]="model.Email" autofocus />
                    </div>
                    <div  class="col-md-4 col-md-offset-4 userInputs">
                        <label>New Password</label>
                        <input name="Password" class="form-control input" placeholder="Please entry password" type="password" required [(ngModel)]="model.Password" autofocus />
                    </div>
                    <div class="col-md-4 col-md-offset-4 userInputs">
                        <label>Confirm New Password</label>
                        <input name="ConfirmPassword" class="form-control input" type="password" placeholder="Please confirm password" required [(ngModel)]="model.ConfirmPassword" autofocus />
                    </div>
                    <div class="col-md-4 col-md-offset-4 userInputs" style="margin-top:15px">
                        <button type="submit" class="btn btn-primary btn-block btn-lg"><span *ngIf="IsAdded">Add</span><span *ngIf="!IsAdded">Update</span></button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
</section>
