
<!-- INNER BANER -->
<section class="innerBanner">
	<h3>Setting</h3>
    <div class="overLay"></div>
	<img src="/Images/inr-banner.png" class="img-responsive">
</section>
<!-- INNER BANER -->

<section class="settingCont sectBg">
	<div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
				<div class="setBox">
                	<figure><img src="/Images/setting-icon.png" class="img-responsive"></figure>
                	<h3>Need coming soon icon card title</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
				<div class="setBox">
                	<figure><img src="/Images/setting-icon.png" class="img-responsive"></figure>
                	<h3>Need coming soon icon card title</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
                </div>
            </div>
        </div>
    </div>
</section>