<!-- INNER BANER -->
<section class="innerBanner">
	<h3>Campus Profile</h3>
    <div class="overLay"></div>
	<img src="/Images/inr-banner.png" class="img-responsive">
</section>
<!-- INNER BANER -->


<section class="campProfile">
	<div class="container">
		
    	<div class="profileList">
            <div class="profilPick">
                <figure>
                    <img src="/Images/profile1.png" class="img-responsive">
                </figure>
            </div>
            <div class="profileText">
            <h3>Need Module Title</h3>
            <p>What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the ...</p>
            <a href="#" class="readMore">Need Call to Action</a>
            </div>
        </div>
        
        <div class="profileList">
            <div class="profilPick">
                <figure>
                    <img src="/Images/profile2.png" class="img-responsive">
                </figure>
            </div>
            <div class="profileText">
            <h3>Need Module Title</h3>
            <p>What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the ...</p>
            <a href="#" class="readMore">Need Call to Action</a>
            </div>
        </div>
        
        <div class="profileList">
            <div class="profilPick">
                <figure>
                    <img src="/Images/profile3.png" class="img-responsive">
                </figure>
            </div>
            <div class="profileText">
            <h3>Need Module Title</h3>
            <p>What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the ...</p>
            <a href="#" class="readMore">Need Call to Action</a>
            </div>
        </div>
        
    </div>
</section>