﻿<div class="container">
    <div class="row">
        <div class="form-group col-md-12 col-xs-12">
            <label>Building Type</label>
            <div class="input-group">
                <select name="buildingTypes" class="form-control" required [(ngModel)]="projectViewModel.BuildingType" (ngModelChange)="onBuildingTypeChange($event)">
                    <option *ngFor="let enumValue of buildingTypes" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="barBoder">
    <div class="projForm">
        <h3 class="formTitl">Program Parameters</h3>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <range-component [min]="minBuildingEfficiency"
                                 [max]="maxBuildingEfficiency"
                                 [step]="stepSize"
                                 [model]="model.BuildingEfficiency"
                                 [label]="'BuildingEfficiency'"
                                 [isASF]="true"
                                 [programASFValue]="buildingEfficiencyASF"
                                 (updateAFS)="changedASFValue($event)"
                                 [GFA]="model.GrossSquareFeet"
                                 (rangeChanged)="changedRangeValue($event,Technology)">
                </range-component>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <program-range *ngIf="viewSettings.AssignableProgram1IsUsing" [caption]="viewSettings.AssignableProgram1Caption" [programASFValue]="model.AssignableProgram1ASF" (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 1)" [maxValue]="model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet" [Id]="'AssignableProgram1'"></program-range>
                <program-range *ngIf="viewSettings.AssignableProgram2IsUsing" [caption]="viewSettings.AssignableProgram2Caption" [programASFValue]="model.AssignableProgram2ASF" (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 2)" [maxValue]="model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet" [Id]="'AssignableProgram2'"></program-range>
                <program-range *ngIf="viewSettings.AssignableProgram3IsUsing" [caption]="viewSettings.AssignableProgram3Caption" [programASFValue]="model.AssignableProgram3ASF" (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 3)" [maxValue]="model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet" [Id]="'AssignableProgram3'"></program-range>
            </div>
            <div class="col-xs-12 col-md-4">
                <program-range *ngIf="viewSettings.AssignableProgram4IsUsing" [caption]="viewSettings.AssignableProgram4Caption" [programASFValue]="model.AssignableProgram4ASF" (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 4)" [maxValue]="model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet" [Id]="'AssignableProgram4'"></program-range>
                <program-range *ngIf="viewSettings.AssignableProgram5IsUsing" [caption]="viewSettings.AssignableProgram5Caption" [programASFValue]="model.AssignableProgram5ASF" (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 5)" [maxValue]="model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet" [Id]="'AssignableProgram5'"></program-range>
                <program-range *ngIf="viewSettings.AssignableProgram6IsUsing" [caption]="viewSettings.AssignableProgram6Caption" [programASFValue]="model.AssignableProgram6ASF" (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 6)" [maxValue]="model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet" [Id]="'AssignableProgram6'"></program-range>
                <program-range *ngIf="viewSettings.AssignableProgram7IsUsing" [caption]="viewSettings.AssignableProgram7Caption" [programASFValue]="model.AssignableProgram7ASF" (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 7)" [maxValue]="model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet" [Id]="'AssignableProgram7'"></program-range>
                <program-range *ngIf="viewSettings.AssignableProgram8IsUsing" [caption]="viewSettings.AssignableProgram8Caption" [programASFValue]="model.AssignableProgram8ASF" (programASFValueUpdated)="assignableProgramASFValueUpdated($event, 8)" [maxValue]="model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet" [Id]="'AssignableProgram8'"></program-range>
            </div>
            <div class="col-xs-12 col-md-4">
                <program-range [caption]="viewSettings.GrossUpProgram1Caption" [programASFValue]="model.GrossUpProgram1ASF" (programASFValueUpdated)="grossUpProgramASFValueUpdated($event, 1)" [maxValue]="1 - model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet" [Id]="'GrossUpProgram1'"></program-range>
                <program-range [caption]="viewSettings.GrossUpProgram2Caption" [programASFValue]="model.GrossUpProgram2ASF" (programASFValueUpdated)="grossUpProgramASFValueUpdated($event, 2)" [maxValue]="1 - model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet" [Id]="'GrossUpProgram2'"></program-range>
                <program-range [caption]="viewSettings.GrossUpProgram3Caption" [programASFValue]="model.GrossUpProgram3ASF" (programASFValueUpdated)="grossUpProgramASFValueUpdated($event, 3)" [maxValue]="1 - model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet" [Id]="'GrossUpProgram3'"></program-range>
                <program-range [caption]="viewSettings.GrossUpProgram4Caption" [programASFValue]="model.GrossUpProgram4ASF" (programASFValueUpdated)="grossUpProgramASFValueUpdated($event, 4)" [maxValue]="1 - model.BuildingEfficiency" [gsfValue]="model.GrossSquareFeet" [Id]="'GrossUpProgram4'"></program-range>
            </div>
            <div class="form-group col-md-12 col-xs-12">
                <div class="row">
                    <label>TOTAL Gross Up: {{totalGrossUpProgramsASF}} Square Feets</label>
                    <p style="color:#FF0000"><label *ngIf="grossUpProgramsStatus">{{grossUpProgramsStatus}}</label></p>
                </div>
            </div>
        </div>
    </div>
</div>


