﻿<div>
    <h2>D30 Fitout calculation</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="depositForm" class="form-horizontal container-fluid" (ngSubmit)="calc()">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Location Factor</label>
                            <div class="input-group">
                                <select name="locationFactors" class="form-control" [(ngModel)]="model.LocationFactor">
                                    <option *ngFor="let enumValue of locationFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Project Delivery Strategy Factor</label>
                            <div class="input-group">
                                <select name="projectDeliveryStrategyFactors" class="form-control" [(ngModel)]="model.ProjectDeliveryStrategyFactor">
                                    <option *ngFor="let enumValue of projectDeliveryStrategyFactors" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Architectural Expectations</label>
                            <div class="input-group">
                                <select name="architecturalExpectations" class="form-control" [(ngModel)]="model.ArchitecturalExpectation">
                                    <option *ngFor="let enumValue of architecturalExpectations" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Performance Expectations, Sustainability Goal</label>
                            <div class="input-group">
                                <select name="performanceExpectations" class="form-control" [(ngModel)]="model.PerformanceExpectation">
                                    <option *ngFor="let enumValue of performanceExpectations" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>HVAC</label>
                            <div class="input-group">
                                <select name="HVAC" class="form-control" [(ngModel)]="model.HVAC">
                                    <option *ngFor="let enumValue of HVACs" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label>Building plant</label>
                            <div class="input-group">
                                <select name="buildingPlant" class="form-control" [(ngModel)]="model.BuildingPlant">
                                    <option *ngFor="let enumValue of buildingPlants" [ngValue]="enumValue.value">{{enumValue.name}}</option>
                                </select>
                            </div>
                        </div>
                        <base-c10-e20-calulation [model]="model"></base-c10-e20-calulation>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </div>
            </form>
        </div>
        <div>
            <label>{{model.status}}</label>
        </div>
        <div class="col-md-12">
            <label></label>
        </div>
        <div><h3>Baseline Variables</h3></div>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tr *ngFor="let variables of result.BaselineVariables">
                    <td>{{variables.Name}}</td>
                    <td>{{variables.Value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
