﻿
<div class="rangBarBox {{className}}" *ngIf="Id">
    <label>{{caption}} - {{(100 * programPercentValue)| number:0}}%</label>
    <div class="minValu">0</div>
    <input id="{{Id}}" name="{{caption}}" min="0" max="{{maxValue}}" step="{{stepSize}}" [value]="programPercentValue" type="range" />                     
    <div class="maxValu">{{(100*maxValue)| number:0}}</div>
    <input name="programASFValue" type="number" class="inputRange" [(ngModel)]="programASFValue" min="0" (change)="updateASFValue($event)" autofocus/>
</div>
