<!-- INNER BANER -->
<section class="innerBanner">
    <h3>Protea Intelligence</h3>
    <div class="overLay"></div>
	<img src="/Images/inr-banner.png" class="img-responsive">
</section>
<!-- INNER BANER -->


<section class="modulSet">
	<div class="container">
    	<div class="row">
        	<div class="col-xs-12">
            	<h3 class="headTitl">top heading</h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
            	<div class="modulContent">
                	<div class="modulIcon"><img src="/Images/graduation-cap.png"></div>
                    <h3>Need Module Title</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <a href="#" class="readMore">Need Call to Action</a>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4">
            	<div class="modulContent">
                	<div class="modulIcon"><img src="/Images/graduation-cap.png"></div>
                    <h3>Need Module Title</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <a href="#" class="readMore">Need Call to Action</a>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4">
            	<div class="modulContent">
                	<div class="modulIcon"><img src="/Images/graduation-cap.png"></div>
                    <h3>Need Module Title</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <a href="#" class="readMore">Need Call to Action</a>
                </div>
            </div>
           
        </div>
    </div>
</section>