﻿<form #levelsForm="ngForm" name="buildingLevelsForm" class="">
    <label class="labelAlignment">Gross Floor Area (GFA)</label>
    <input name="grossSquareFeet" (change)="parseDouble($event);buildingFootprintChange(levelsForm);" min="1" class="form-control input" type="number" required [(ngModel)]="grossSquareFeet" autofocus />
    <label class="labelAlignment">Number of Levels</label>
    <input name="Number Of Levels" #NumberOfLevels="ngModel" (change)="buildingFootprintChange(levelsForm)" min="1" max="100" class="form-control input" type="number" required [(ngModel)]="numberOfLevels" pattern="\d+" />
    <label class="labelAlignment">Number Of Below Grade Levels</label>
    <input name="numberOfBelowGradeLevels" (change)="numberOfBelowGradeLevelsChanged(levelsForm);" #NumberOfBelowGradeLevels="ngModel" min="0" max="5" class="form-control input" type="number" required [(ngModel)]="numberOfBelowGradeLevels" pattern="\d+" />
    <label class="labelAlignment">Number Of Above Grade Levels</label>
    <input name="numberOfAboveGradeLevels" (change)="numberOfAboveGradeLevelsChanged(levelsForm);" #NumberOfAboveGradeLevels="ngModel" min="0" max="{{numberOfLevels}}" class="form-control input" type="number" required [(ngModel)]="numberOfAboveGradeLevels" pattern="\d+" />
</form>
