﻿<label class="labelAlignment">Basement F-F Heights </label>
<input name="BasementFFHeights" (change)="parseDouble($event);basementFFHeightsChange();" min="1" class="form-control input" type="number" required [(ngModel)]="basementFFHeights" step="0.1" />
<label class="labelAlignment">Above F-F Heights</label>
<input name="FFHeights" (change)="parseDouble($event);fFHeightsChange();" min="1" class="form-control input" type="number" required [(ngModel)]="fFHeights" step="0.1" />

