﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}
body, html {
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,*/
select,
textarea {
    max-width: 280px;
}

.custom{
    background:rgb(225, 225, 225);
}

.table > tbody > tr .variable-name
{
    padding: 12px;
}

.fill-width
{
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.complexFormula .input-group {
    display: block;
    border-collapse: separate;
    width: 70%;
    margin: 0 auto;
}
.complexFormula .row h3 {
    margin-bottom: 25px;
}
.complexpagebtn button {
    display: block;
    width: 80%;
    border-radius: 0;
    padding: 10px;
    margin: 0;
}
.complexpagebtn a:hover {
    text-decoration: none;
}

.resultAllFormulas ul { 
    list-style-type:none;
}
.ASFInputs .input-group {
    width: 100%;
}
.resultAllFormulas ul { 
    margin:0;
    padding:0;
}
.resultAllFormulas ul li { 
    border-radius:3px;
    margin:5px;
}
.nameFormula {
    background-color: #337ab7;    
    color: #fff;
    display: block;
    padding: 5px;
    width:100%;
    text-align:center;
}
.valueFormula {
    background-color: #5BC0ED;
    color: #fff;
    display: block;
    padding: 5px;
    text-align: center;
}
.formulacalContainer .dropdown ul {
    width:73%;
}
.formulacalContainer .dropdown {
    margin-top: 10px;
}
.formulacalContainer .dropdown button {
    display: block;
    width: 80%;
    border-radius: 0;
    padding: 10px;
    margin: 0;
}
.formulacalContainer ul {
    list-style-type:none;
    outline:auto;
}
.formulacalContainer ul li span {
    cursor: pointer;
    color:cornflowerblue;
}
.formulacalContainer ul li span:hover {
    text-decoration: underline;
}
.formulacalContainer {
    margin-top:20px;
    margin-bottom:20px;
}
.marginBottom10px {
    margin-bottom: 10px;
}
.marginBottom20px {
    margin-bottom: 20px;
}
.userMenu .nav  li a span {
    margin-left: 5px;
}
/*--------------FORM VALIDATION--------------*/
.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

/*--------------END FORM VALIDATION--------------*/

/*-------------All User Page -------------*/
.allUserContainer{
    margin-top:15px;
}

.UserFormContainer{
    margin-top:15px;
}
.UserFormContainer .userInputs{
    margin-bottom: 15px;
}
.UserFormContainer label {
    font-family: 'Roboto Light';
    font-size:18px;
}


/*---------End All User Page-------------*/
.createProjectBTN {
    display: block;
    width: 50%;
    margin: 0 auto;
}
.ngx-pagination{   
    margin: 15px auto!important;
    display: block;
    width: 25%;
}
.ngx-pagination .current{
    border-radius: 3px;
    padding: 5px;
    width: 30px;
    text-align: center;
} 
/*---------DROP DOWN-------*/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
/*---------END DROP DOWN ------*/
.errorTable .headerSpan {
    color: #337ab7;
    font-size: 18px;
    padding: 8px;
}
.errorTableRow:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.errorTableCol {
    border-top: 1px solid #ddd;
    padding:8px;
}
.errorTableRow .dropBtn{
    font-size:18px;    
}
/*-----Start------------ag-table-custom--------------------*/

#center > div > div.ag-body {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.ag-header-viewport {
    border-bottom: 1px solid #ddd;
}

.ag-bootstrap .ag-row {
    border-bottom: 1px solid #ddd;
}

    .ag-bootstrap .ag-row .ag-cell {
        color: #333;
        padding: 10px 15px;
    }

.ag-paging-button {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border: 1px solid transparent;
    border-color: #2e6da4;
    border-radius: 3px;
    color: #fff;
    background-color: #337ab7;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

/*body> #center > div > div.ag-body > div.ag-body-viewport-wrapper{
    border: 1px solid lightgray !important;
}*/

ag-paging-page-summary-panel > button {
    width: 50px;
}

.mb-10 {
    margin-bottom: 10px;
}

.btn-go-to {
    height: 30px;
    margin-bottom: 20px;
}
/*-----End------------ag-table-custom--------------------*/