@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

body, html, p {
    margin: 0px;
    padding: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

aside, details, figcaption, figure, ins, summary, small, mark, title, video, footer, header, hgroup, nav, section, article {
    display: block;
}

.clear {
    padding: 0;
    margin: 0;
    line-height: 0;
    height: 0;
    font-size: 0;
    clear: both;
    width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

    body * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

ul li {
    list-style: none;
}

input, button {
    outline: none;
    border: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

    a:active, a:hover {
        outline: 0;
    }

button {
    transition: all .5s;
}

:focus {
    outline: none;
}

img {
    border: none;
}

body, a, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

/********Main Css********/

header {
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 9;
    padding: 20px 0;
}

    header a.topLogo {
        margin: 0;
        display: inline-block;
    }

    header .topSignin {
        position: relative;
    }

    header .signIn {
        float: right;
        color: #FFF;
        background: #02b2e5;
        padding: 10px 15px;
    }

    header .signContr {
        position: absolute;
        right: 0;
        margin-top: 40px;
        width: 350px;
        background: #FFF;
        padding: 20px;
        z-index: 99;
        box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
    }

        header .signContr label {
            display: block;
            color: #555;
            font-weight: 500;
        }

        header .signContr input {
            background: #f5f5f5;
            width: 100%;
            height: 33px;
            border: 1px solid #e2e2e2;
            margin-bottom: 15px;
        }

        header .signContr .signBtn {
            margin: 0px;
            background: #626262;
            border-radius: 20px;
            border: 0px;
            color: #FFF;
        }


.homSlider {
    overflow: hidden;
}

    .homSlider .flex-direction-nav,
    .homSlider .flex-control-nav {
        display: none;
    }

    .homSlider a.slidMous {
        height: 36px;
        width: 18px;
        position: absolute;
        bottom: 15px;
        left: 49%;
        border-radius: 20px;
        text-align: center;
        z-index: 9;
        border: 2px solid #FFF;
    }

        .homSlider a.slidMous > span {
            height: 11px;
            width: 6px;
            background: rgba(255,255,255,0.5);
            display: inline-block;
            border-radius: 10px;
        }

        .homSlider a.slidMous:hover > span {
            margin-top: 16px;
        }

.flexslider .overLay {
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    position: absolute;
}

.flexslider .slidCont {
    position: absolute;
    width: 100%;
    color: #FFF;
    height: 100%;
    top: 0;
    right: 0px;
    padding-top: 15%;
    z-index: 8;
    text-align: right;
}

    .flexslider .slidCont h3 {
        font-size: 55px;
        font-weight: 700;
    }

    .flexslider .slidCont p {
        font-size: 20px;
    }


.modulSet {
    background: #f7f7f7;
    clear: both;
    padding: 20px 0;
}

    .modulSet .headTitl {
        font-weight: 500;
        font-size: 30px;
        color: #555;
        text-transform: uppercase;
        margin: 30px 0;
        text-align: center;
    }

    .modulSet a.modulBox {
        float: left;
        width: 100%;
        background: #FFF;
        padding: 20px;
        margin-bottom: 30px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px #CCC;
    }

a.modulBox .mboxImage {
    position: relative;
    overflow: hidden;
}

a.modulBox:hover .mboxImage figure {
    transform: scale(1.15);
}

.modulSet .modulBox h3 {
    margin: 20px 0 10px;
    font-size: 20px;
    font-weight: 500;
    color: #555;
}

.modulSet .modulBox p {
    font-size: 14px;
    color: #555;
    line-height: 22px;
}

.modulSet .modulContent {
    float: left;
    width: 100%;
    background: #FFF;
    margin-bottom: 30px;
    padding: 20px 20px 20px 80px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #CCC;
    position: relative;
}

    .modulSet .modulContent .modulIcon {
        position: absolute;
        background: #f1f1f1;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        left: 20px;
        text-align: center;
        line-height: 50px;
    }

    .modulSet .modulContent h3 {
        margin: 10px 0;
        font-size: 18px;
        font-weight: 500;
        color: #555;
    }

    .modulSet .modulContent p {
        font-size: 14px;
        color: #555;
        line-height: 22px;
    }

.readMore {
    display: inline-block;
    background: #12acd7;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px 15px;
    margin: 10px 0 0;
}


.innerBanner {
    position: relative;
}

    .innerBanner .overLay {
        background: rgba(0,0,0,0.5);
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .innerBanner h3 {
        position: absolute;
        width: 100%;
        z-index: 1;
        color: #FFF;
        text-align: center;
        top: 45%;
        font-size: 40px;
        font-weight: 300;
    }

    .innerBanner p {
        position: absolute;
        width: 100%;
        z-index: 1;
        color: #FFF;
        text-align: center;
        top: 54%;
        font-weight: 300;
        font-size: 20px;
    }

    .innerBanner img {
        object-fit: cover;
        width: 100%;
        max-height: 435px;
        min-height: 150px;
    }

    .innerBanner .fullSize {
        max-height: none;
    }

.university {
    font-size: 55px !important;
    font-weight: 700 !important;
}

.withoutReference {
    cursor: pointer;
}

.campProfile {
    background: #f7f7f7;
    clear: both;
    padding: 60px 0;
}

    .campProfile .profileList {
        background: #FFF;
        float: left;
        width: 100%;
        padding: 20px;
        border-radius: 5px;
        margin: 10px 0;
        box-shadow: 1px 1px 2px #CCC;
    }

    .campProfile .profilPick {
        float: left;
        width: 30%;
    }

    .campProfile .profileText {
        float: left;
        width: 70%;
    }

    .campProfile .profileList h3 {
        margin: 10px 0;
        font-size: 18px;
        font-weight: 500;
        color: #555;
    }

    .campProfile .profileList p {
        font-size: 14px;
        color: #555;
        line-height: 22px;
    }



.sectBg {
    background: #f7f7f7;
}

.userTbl {
    clear: both;
    padding: 60px 0;
}

    .userTbl a:hover {
        cursor: pointer;
    }

table.userList > thead > tr > th {
    border: 0px;
    color: #02b2e5;
    font-weight: 500;
    background: #FFF;
    padding: 15px;
    font-size: 16px;
}

    table.userList > thead > tr > th:first-child {
        border-right: 1px solid #f7f7f7;
        text-align: center;
    }

table.userList > tbody > tr > td {
    border-top: 1px solid #f7f7f7;
    padding: 15px;
    font-size: 16px;
    color: #555;
}

    table.userList > tbody > tr > td:first-child {
        border-right: 1px solid #f7f7f7;
        text-align: center;
    }

table.userList > tbody > tr > td {
    background: #FFF;
}

.projetEx {
    clear: both;
    padding: 60px 0;
}

table.projecTable > tbody > tr > td {
    background: #FFF;
}

table.projecTable > tbody > tr:first-child > td {
    border-top: 0px;
}

table.projecTable > tbody > tr > td {
    border-top: 1px solid #f7f7f7;
    padding: 15px;
    font-size: 16px;
    color: #555;
}

    table.projecTable > tbody > tr > td + td {
        border-left: 1px solid #f7f7f7;
        text-align: center;
    }

.pubReport {
    clear: both;
    padding: 60px 0;
}

    .pubReport p {
        background: #FFF;
        padding: 20px;
        text-transform: uppercase;
        font-weight: 500;
        text-align: right;
        border-top: 1px solid #f7f7f7;
        color: #a6a6a6;
    }

table.pReport {
    margin: 0px;
}

    table.pReport > tbody > tr > td {
        background: #FFF;
    }

    table.pReport > tbody > tr:first-child > td {
        border-top: 0px;
    }

    table.pReport > tbody > tr > td {
        border-top: 1px solid #f7f7f7;
        padding: 15px;
        font-size: 16px;
        color: #555;
    }

        table.pReport > tbody > tr > td + td {
            border-left: 1px solid #f7f7f7;
            text-align: center;
        }


.prDetail {
    clear: both;
    padding: 60px 0;
}

    .prDetail .printDownload {
        text-align: right;
    }

        .prDetail .printDownload .linkBtn {
            background: #12acd7;
            display: inline-block;
            color: #FFF;
            text-transform: uppercase;
            font-size: 12px;
            padding: 8px 15px;
            line-height: 20px;
            margin-left: 10px;
        }

            .prDetail .printDownload .linkBtn img {
                margin-right: 8px;
            }

    .prDetail .viewPdf {
        margin: 20px 0;
    }




.custmPagination {
    text-align: right;
}

    .custmPagination .pagination {
        margin: 0px;
        border-radius: 0px;
    }

        .custmPagination .pagination li {
            display: inline-block;
        }

            .custmPagination .pagination li a {
                border-radius: 0px;
                margin: 0 2px;
                color: #777;
                border: 1px solid #CCC;
            }

                .custmPagination .pagination li.active a,
                .custmPagination .pagination li a:hover {
                    color: #FFF;
                    background: #02b2e5;
                    border: 1px solid #02b2e5;
                }

            .custmPagination .pagination li:nth-last-child(2) {
                position: relative;
                padding-left: 25px;
            }

                .custmPagination .pagination li:nth-last-child(2):before {
                    content: "...";
                    position: absolute;
                    left: 0px;
                    font-size: 30px;
                    color: #555;
                }


/*ACCORDION*/
.accordInfo {
    clear: both;
    padding: 60px 0;
}

    .accordInfo .panel-group .panel {
        border: 0px;
    }

    .accordInfo .panel-default > .panel-heading {
        background: #FFF;
        padding: 0px;
    }

    .accordInfo .panel-title a {
        display: block;
        padding: 12px 20px;
        font-size: 16px;
        color: #555;
        font-weight: 500;
    }

        .accordInfo .panel-title a i.indicator {
            font-size: 25px;
            margin-top: -3px;
            color: #aeaeae;
        }

        .accordInfo .panel-title a i.fa-minus-circle {
            color: #02b2e5;
        }

    .accordInfo .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top: 2px solid #f7f7f7;
        padding: 20px 20px 40px;
    }

    .accordInfo .panel-collapse .panel-body p {
        font-size: 13px;
        line-height: 22px;
        color: #555;
    }

    .accordInfo .panel-group .panel + .panel {
        margin-top: 10px;
    }
/*ACCORDION*/


/*FAQ*/
.faqTabsection {
    clear: both;
    padding: 60px 0;
}

    .faqTabsection .panel-group .panel {
        border: 0px;
    }

    .faqTabsection .panel-default > .panel-heading {
        background: #FFF;
        padding: 0px;
    }

    .faqTabsection .panel-title a {
        display: block;
        padding: 12px 20px 12px 50px;
        font-size: 14px;
        color: #555;
        background: url(../images/question-icon.png) no-repeat 20px center;
    }

        .faqTabsection .panel-title a i {
            font-size: 25px;
            margin-top: -3px;
            color: #aeaeae;
        }

            .faqTabsection .panel-title a i.fa-minus-circle {
                color: #02b2e5;
            }

    .faqTabsection .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top: 2px solid #f7f7f7;
        padding: 20px 20px 40px 50px;
        background: url(../images/info-icon.png) no-repeat 20px 20px;
    }

    .faqTabsection .panel-collapse .panel-body p {
        font-size: 14px;
        line-height: 22px;
        color: #777;
    }

    .faqTabsection .panel-group .panel + .panel {
        margin-top: 10px;
    }
/*FAQ*/


.settingCont {
    clear: both;
    padding: 60px 0;
}

    .settingCont .setBox {
        float: left;
        width: 100%;
        background: #FFF;
        margin-bottom: 30px;
        padding: 30px 20px 30px 140px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px #CCC;
        position: relative;
    }

        .settingCont .setBox figure {
            position: absolute;
            left: 20px;
        }

            .settingCont .setBox figure img {
                margin: 0 auto;
            }

        .settingCont .setBox h3 {
            margin: 15px 0;
            font-size: 20px;
            font-weight: 500;
            color: #555;
        }

        .settingCont .setBox p {
            color: #555;
            font-size: 14px;
            line-height: 24px;
        }

    .settingCont .setBox2 {
        float: left;
        text-align: center;
        width: 100%;
        background: #FFF;
        margin-bottom: 30px;
        padding: 30px 40px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px #CCC;
        position: relative;
    }

        .settingCont .setBox2 figure {
        }

            .settingCont .setBox2 figure img {
                margin: 0 auto;
            }

        .settingCont .setBox2 h3 {
            margin: 15px 0;
            font-size: 20px;
            font-weight: 500;
            color: #555;
        }

        .settingCont .setBox2 p {
            color: #555;
            font-size: 14px;
            line-height: 24px;
        }



.creatProjt {
    clear: both;
    padding: 20px 0;
}

    .creatProjt .barBoder {
        box-shadow: 0px 0px 3px #CCC;
        padding: 5px 20px;
        margin: 10px 0;
        border-radius: 5px;
        background: #FFF;
        float: left;
        width: 100%;
    }

        .creatProjt .barBoder.pLR {
            padding: 20px 15px;
        }

.slightlyUp {
    margin-top: 5px !important
}

.creatProjt .barBoder h3.titl {
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px 0 0;
    font-weight: 500;
    color: #000;
}

.barBoderFixed {
    box-shadow: 0px 6px 20px 5px #CCC;
    margin: 5% 0;
    border-radius: 5px;
    background: #FFF;
    float: left;
    width: 100%;
}

.barBoder .bilConst {
    float: left;
    width: 100%;
    margin-bottom : -4px;
}

    .barBoder .bilConst label {
        width: 15%;
        float: left;
        line-height: 32px;
    }

    .barBoder .bilConst input {
        width: 85%;
        float: left;
        height: 32px;
        border: 1px solid #555;
        padding: 0 10px;
    }

.barFild {
    float: left;
    width: 87%;
    margin-top: 4px;
    text-align: left;
    position: relative;
}

    .barFild h3 {
        font-size: 12px;
        color: #555;
        margin: -1px 0;
        text-transform: uppercase;
        font-weight: 500;
    }

    .barFild .progress-bar {
        text-align: left;
        padding: 2px 10px;
        height: 16px;
        background: #02b2e5;
        float: none
    }

        .barFild .progress-bar > span {
            position: absolute;
            right: -44px;
            color: #555;
        }

    .barFild .progress {
        border-radius: 0;
        color: #FFF;
        border: 0px;
        height: 16px;
        width: 100%;
        margin: 0px;
        padding: 2px 10px;
        position: relative;
        overflow: visible;
        background: #337ab7;
    }

        .barFild .progress > span {
            position: absolute;
            right: -65px;
            color: #555;
            top: 2px;
        }

.progress-bar-value {
    margin-top: -3px;
    font-size: 9pt;
}

.progress-value {
    margin-top: -2px;
    font-size: 9pt;
}

.barFixed {
    position: fixed;
    top: 0;
    z-index: 999;
    right: 20%;
    left: 20%;
    margin-top: -77px;
}

.rangBarBox {
    float: left;
    width: 100%;
    position: relative;
    padding: 3px 0;
    margin: 10px 0;
}

    .rangBarBox .rangeslider--horizontal {
        width: 58%;
        float: none;
        display: inline-block;
    }

    .rangBarBox .minValu {
        font-size: 12px;
        display: inline-block;
    }

    .rangBarBox .maxValu {
        font-size: 12px;
        display: inline-block;
    }

    .rangBarBox .inputRange {
        border: 1px solid #CCC;
        width: 55px;
        display: inline-block;
        text-align: center;
        font-size: 12px;
        padding: 5px 0;
    }

    .rangBarBox input[type="number"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .rangBarBox input[type='number'] {
        -moz-appearance: textfield;
    }

    .rangBarBox input[type=number]::-webkit-inner-spin-button,
    .rangBarBox input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: none;
    }

.projForm .rangBarBox label {
    margin: 0 0 5px;
}

.speedMiter h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 12px 0 0;
    line-height: 26px;
}

.speedMiter p {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #0b98c1;
}

.canvas canvas {
    width: 100%;
}

h3 pre {
    line-height: 1;
    font-family: inherit;
    font-size: 40px;
    background-color: transparent;
    border: 0;
    color: white;
}

.specialOffers {
    padding: 50px 0;
}

.pie-title-center {
    position: relative;
    text-align: center;
}

.pie-value {
    display: block;
    position: absolute;
    font-size: 14px;
    top: 38%;
    left: 0;
    right: 0;
    color: #555;
    font-weight: 500;
}

.offerText {
    text-align: center;
}

    .offerText h4 {
        font-size: 14px;
        font-weight: 500;
        color: #555;
        text-transform: uppercase;
    }


.interFace {
    float: left;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border-top: 2px solid #0b98c1;
    border-bottom: 2px solid #0b98c1;
}

    .interFace p {
        line-height: 50px;
        text-align: left;
    }

    .interFace .saveBtn {
        float: right;
        background: #0b98c1;
        padding: 8px 25px;
        color: #FFF;
        font-size: 15px;
        font-weight: 500;
        line-height: 15px;
    }

.saveBtn {
    float: right;
    background: #0b98c1;
    padding: 8px 25px;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
}

.projForm label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    margin: 15px 0 5px;
    color: #555;
}

    .projForm label output {
        display: inline-block;
        position: relative;
    }

.labelAlignment {
    text-align: left;
}

.projForm .input {
    width: 100%;
    border: 1px solid #CCC;
    height: 32px;
    padding: 0 10px;
}

.projForm .select {
    width: 100%;
    border: 1px solid #CCC;
    height: 32px;
    padding: 0 10px;
}

.projForm .formTitl {
    font-size: 14px;
    border-bottom: 2px solid #999;
    padding-bottom: 8px;
    font-weight: 500;
    text-align: left
}

.buildParamSection {
    padding-top: 15px;
}

.chectBox {
    float: left;
    width: 100%;
    padding: 15px 0 10px;
    margin-top: 10px;
}

    .chectBox label {
        display: inline-block;
    }

    .chectBox .cBox {
        display: inline-block;
    }

.datePick {
    background: url(../images/date-icon.png) no-repeat 97.5% center;
}






footer {
    background: #0b98c1;
}

    footer .footLogo {
        display: inline-block;
        margin: 20px 50px 20px 0;
        position: relative;
        vertical-align: middle;
    }

        footer .footLogo:after {
            content: "}";
            font-size: 50px;
            color: #FFF;
            position: absolute;
            top: -8px;
            right: -30px;
        }

    footer address {
        color: #FFF;
        display: inline-block;
        margin: 0px;
        padding: 0;
        vertical-align: middle;
    }

    footer ul.futLinks {
        margin: 35px 0 0;
        padding: 0px;
        text-align: center;
    }

        footer ul.futLinks li {
            display: inline-block;
        }

            footer ul.futLinks li a {
                display: block;
                color: #FFF;
                margin: 0 10px;
            }

                footer ul.futLinks li a:hover {
                    color: #CCC;
                }

    footer ul.futSocal {
        margin: 30px 0 0;
        padding: 0px;
        text-align: right;
    }

        footer ul.futSocal li {
            display: inline-block;
            color: #FFF;
            vertical-align: middle;
        }

            footer ul.futSocal li a {
                display: block;
                background: #FFF;
                color: #0b98c1;
                font-size: 20px;
                height: 35px;
                width: 35px;
                line-height: 40px;
                text-align: center;
                border-radius: 100%;
                margin-left: 5px;
            }

                footer ul.futSocal li a:hover {
                    background: #666;
                    color: #FFF;
                }

    footer .copyRight {
        background: #1e1e1e;
        padding: 10px 0;
    }

        footer .copyRight p {
            color: #808080;
            font-size: 12px;
            text-align: right;
        }



    footer ul.futSocal li a,
    a.modulBox .mboxImage figure {
        transition: all, 0.5s;
    }








#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    #cssmenu:after,
    #cssmenu > ul:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    #cssmenu #menu-button {
        display: none;
    }

#cssmenu {
    width: auto;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    text-align: right;
    margin-top: 5px;
}

#menu-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background: #02b2e5;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

#cssmenu > ul > li {
    display: inline-block;
}

#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}

    #cssmenu.align-center > ul > li {
        display: inline-block;
        float: none;
    }

#cssmenu.align-center ul ul {
    text-align: left;
}

#cssmenu.align-right > ul > li {
    float: right;
}

#cssmenu.align-right ul ul {
    text-align: right;
}

#cssmenu > ul > li > a {
    padding: 15px 20px;
    font-size: 13px;
    text-decoration: none;
    color: #FFF;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
    color: #02b2e5;
}

#cssmenu > ul > li.activeLogin > a {
    background: #02b2e5;
    color: #FFF;
}

#cssmenu > ul > li.activeLogin:hover > a {
    background: #FFF;
    color: #02b2e5;
}

#cssmenu > ul > li.has-sub > a {
    padding-right: 25px;
}

    #cssmenu > ul > li.has-sub > a::after {
        content: "";
        position: absolute;
        top: 18px;
        right: 10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: #FFF transparent transparent transparent;
    }

#cssmenu > ul > li.has-sub:hover > a::after {
    border-color: #02b2e5 transparent transparent transparent;
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px;
}

#cssmenu li:hover > ul {
    left: auto;
}

#cssmenu.align-right li:hover > ul {
    right: 0;
}

#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}

#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}

#cssmenu ul ul li {
    height: 0;
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
}

#cssmenu ul li:hover > ul > li {
    height: auto;
}

#cssmenu ul ul li a {
    padding: 10px 20px;
    width: 170px;
    font-size: 12px;
    text-align: left;
    background: #FFF;
    text-decoration: none;
    color: #777;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

#cssmenu ul ul li + li a {
    border-top: 1px solid #CCC;
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
    color: #fff;
    background: #02b2e5;
}

#cssmenu ul ul li.has-sub > a::after {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    content: "";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

#cssmenu.align-right ul ul li.has-sub > a::after {
    right: auto;
    left: 10px;
    border-bottom: 0;
    border-right: 0;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

#cssmenu ul ul li.has-sub:hover > a::after {
    border-color: #fff;
}



.homSlider a.slidMous span {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}






@media all and (max-width: 1199px) {

    footer .footLogo:after {
        display: none;
    }

    footer .footLogo {
        margin: 20px 10px 20px 0;
    }

    footer ul.futSocal li:first-child {
        display: none;
    }


    .campProfile .profileText {
        padding-left: 20px;
    }
}




@media all and (max-width: 991px) {

    #cssmenu > ul > li > a {
        padding: 15px 10px;
    }

    .speedMiter h3 {
        text-align: center;
        margin: 10px 0;
    }

    footer {
        text-align: center;
    }

        footer ul.futLinks {
            margin: 0 0 20px;
        }

        footer ul.futSocal {
            margin: 0 0 20px;
            text-align: center;
        }

            footer ul.futSocal li:first-child {
                display: inline-block;
            }

        footer .footLogo:after {
            display: block;
        }

        footer .footLogo {
            margin: 20px 50px 20px 0;
        }
}



@media all and (max-width: 767px) {

    header {
        position: relative;
    }

    a.modulBox .mboxImage {
        display: inline-block;
    }

    .modulSet a.modulBox {
        text-align: center;
    }

    .flexslider .slidCont {
        position: relative;
        padding: 20px 0;
        text-align: center;
    }

        .flexslider .slidCont h3 {
            font-size: 40px;
        }

    .modulSet .headTitl {
        margin: 20px 0 10px;
    }

    header .topSignin {
        position: absolute;
        right: 15px;
        top: -45px;
    }

    .campProfile {
        padding: 20px 0;
    }

        .campProfile .profileList {
            text-align: center;
        }

        .campProfile .profilPick {
            width: 100%;
        }

        .campProfile .profileText {
            width: 100%;
            padding: 0px;
        }

        .campProfile .profilPick figure img {
            margin: 0 auto 10px;
        }

    .homSlider a.slidMous {
        display: none;
    }

    .custmPagination .pagination li:first-child,
    .custmPagination .pagination li:last-child {
        display: none;
    }

    .prDetail p {
        text-align: center;
        margin-bottom: 10px;
    }

    .prDetail .printDownload {
        text-align: center;
    }

    .canvas {
        width: 300px;
        margin: auto;
        display: inherit;
    }

    .offerText {
        margin-bottom: 15px;
    }

    #cssmenu {
        width: 100%;
        position: absolute;
        top: -60px;
        right: 0px;
        text-align: left;
    }

        #cssmenu ul {
            width: 100%;
            display: none;
            position: absolute;
            z-index: 99;
            background: #FFF;
            margin-top: 16px;
        }

        #cssmenu.align-center > ul,
        #cssmenu.align-right ul ul {
            text-align: left;
        }

        #cssmenu ul li,
        #cssmenu ul ul li,
        #cssmenu ul li:hover > ul > li {
            width: 100%;
            height: auto;
            border-top: 1px solid rgba(120, 120, 120, 0.15);
        }

            #cssmenu ul li a,
            #cssmenu ul ul li a {
                width: 100%;
                color: #000;
            }

        #cssmenu > ul > li,
        #cssmenu.align-center > ul > li,
        #cssmenu.align-right > ul > li {
            float: none;
            display: block;
        }

        #cssmenu ul ul li a {
            padding: 20px 20px 20px 30px;
            font-size: 12px;
            color: #000;
            background: none;
        }

        #cssmenu ul ul li + li a {
            border-top: 0px;
        }

        #cssmenu ul ul li:hover > a,
        #cssmenu ul ul li a:hover {
            color: #000;
        }

        #cssmenu ul ul ul li a {
            padding-left: 40px;
        }

        #cssmenu ul ul,
        #cssmenu ul ul ul {
            position: relative;
            left: 0;
            right: auto;
            width: 100%;
            margin: 0;
        }

            #cssmenu > ul > li.has-sub > a::after,
            #cssmenu ul ul li.has-sub > a::after {
                display: none;
            }

    #menu-line {
        display: none;
    }

    #cssmenu #menu-button {
        display: block;
        padding: 20px;
        color: #000;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
    }

        #cssmenu #menu-button::after {
            content: '';
            position: absolute;
            top: 13px;
            right: 20px;
            display: block;
            width: 25px;
            height: 3px;
            background: #0b98c1;
        }

        #cssmenu #menu-button::before {
            content: '';
            position: absolute;
            top: 21px;
            right: 20px;
            display: block;
            width: 25px;
            height: 11px;
            border-top: 3px solid #0b98c1;
            border-bottom: 3px solid #0b98c1;
        }

    #cssmenu .submenu-button {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid rgba(120, 120, 120, 0.15);
        height: 100%;
        width: 52px;
        cursor: pointer;
    }

        #cssmenu .submenu-button::after {
            content: '';
            position: absolute;
            top: 18px;
            left: 26px;
            display: block;
            width: 1px;
            height: 11px;
            background: #000;
            z-index: 99;
        }

        #cssmenu .submenu-button::before {
            content: '';
            position: absolute;
            left: 21px;
            top: 23px;
            display: block;
            width: 11px;
            height: 1px;
            background: #000;
            z-index: 99;
        }

        #cssmenu .submenu-button.submenu-opened:after {
            display: none;
        }
}


@media all and (max-width: 479px) {

    .flexslider .slidCont p {
        font-size: 16px;
    }

    .flexslider .slidCont h3 {
        font-size: 26px;
    }

    footer address {
        margin: 5px 0 20px
    }

    header .signContr {
        width: 290px;
    }

    .barFild {
        width: 80%;
    }

    .settingCont .setBox, .settingCont .setBox2 {
        padding: 20px;
        text-align: center;
    }

        .settingCont .setBox figure {
            position: relative;
            left: auto;
            display: block;
        }

    .canvas {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .barFixed {
        right: 1%;
        left: 1%
    }
}

@media (min-width: 992px) {
    .barFixed {
        right: 10%;
        left: 10%
    }
}

@media (min-width: 1200px) {
    .barFixed {
        right: 10%;
        left: 10%
    }
}

@media (min-width: 1440px) {
    .barFixed {
        right: 15%;
        left: 15%
    }
}

@media (min-width: 1680px) {
    .barFixed {
        right: 15%;
        left: 15%
    }
}

@media (min-width: 1920px) {
    .barFixed {
        right: 20%;
        left: 20%
    }
}
